@{
    ViewData["Title"] = "Home Page";
}

<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" id="paginasAndandoWeb">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>CMS Andando Web </h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-header">
                            <input id="categoria" hidden value="@ViewBag.categoria" />
                            <h3 class="card-title">DataTable Page</h3>
                            <a asp-controller="" asp-action="" class="btn btn-primary" >Cards </a>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="pagesAndando" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th style="width:80.2px;">N.</th>
                                        <th style="width:200px;">Page</th>
                                        <th style="width:260px;">Url Page</th>
                                        <th style="width:170.2px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</div>

@section scripts {
     <script src="~/lib/vue/vueCms/PaginasCms.js"></script>
}