@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}


    <header>
        <div style="font-family:Arial" class="content-wrapper" id="cmsImagenes">
            <section class="content">
                <div class="container-fluid">
                    <!-- ./row -->
                    <div class="row">
                        <div class="col-12">
                            <h1 class="text-danger">@ViewData["Title"]</h1>
                            <p class="text-danger">You do not have access to this resource.</p>
                        </div>
                    </div>
                 </div>
                </section>

        </div>
             
</header>
