@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div style="font-family:Arial" class="content-wrapper">
    <section class="container">
        <div class="container-fluid">
            <div class="row" style="padding-top:40px">
                <h2>@ViewData["Title"]</h2>
                <br />
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>
                        Please check your email to reset your password.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>

