@page
@model RegisterModel
@{
    Layout = null;
    ViewData["Title"] = "Register";
}

<link rel="stylesheet" href="~/css/Login.css" />

<link rel="stylesheet" href="~/css/site.css" />
<!-- Font Awesome -->
<link href="~/theme/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/owl.carousel.css" />
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- overlayScrollbars -->
<link rel="stylesheet" href="~/theme/dist/css/adminlte.min.css">
<!-- summernote -->
<link rel="stylesheet" href="~/theme/plugins/summernote/summernote-bs4.css">
<!-- Google Font: Source Sans Pro -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
<link rel="stylesheet" href="~/theme/dist/css/StyleCMSAndando/StyleCMSAndado.css" />

<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="~/theme/dist/img/logo.jpg" alt="" />
            <h3>Welcome</h3>
            <h2>@ViewData["Title"]</h2>
            <input type="submit" name="" value="Login" onclick="window.location='/Identity/Account/Login'" /><br />
        </div>
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h3 class="register-heading">Create a new account.</h3>
                    <div asp-validation-summary="All" class="text-danger" style=" margin-top: 16%;"></div>
                    <form class="row register-form" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" asp-for="Input.FistName" class="form-control" placeholder="First Name *" />
                                <span asp-validation-for="Input.FistName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="text" asp-for="Input.LastName" class="form-control" placeholder="Last Name *" />
                                <span asp-validation-for="Input.LastName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="text" asp-for="Input.UserName" class="form-control" placeholder="User Name *" />
                                <span asp-validation-for="Input.UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" asp-for="Input.Email" class="form-control" placeholder="Email *" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="password" asp-for="Input.Password" class="form-control" placeholder="Password *" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="password" asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password *" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btnRegister">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>


<script src="~/theme/plugins/jquery/jquery.min.js"></script>
<script src="~/lib/owl.carousel.js"></script>
@*<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>*@
<!-- Bootstrap 4 -->
<script src="~/theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="~/theme/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/theme/dist/js/demo.js"></script>
<!-- DataTables -->
<script src="~/theme/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/theme/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
@*<script src="https://code.jquery.com/jquery-3.3.1.js"></script>*@
<script src=" https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<!-- Summernote -->
<script src="~/theme/plugins/summernote/summernote-bs4.min.js"></script>
<script src="~/ckeditor/ckeditor.js"></script>

<script src="~/js/cms.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}
