@{
    ViewData["Title"] = "angermeyerHistory";
}
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" type="text/css" href="~/css/styleAndando.css" />
<link rel="stylesheet" type="text/css" href="~/css/styleAndando03.css" />
<link rel="stylesheet" type="text/css" href="~/css/app.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" integrity="sha256-PZLhE6wwMbg4AB3d35ZdBF9HD/dI/y4RazA3iRDurss=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<div class="container--full-width" style="overflow:hidden; width:100%">
    <div id="myCarousel" class="carousel slide active" aria-hidden="true" data-ride="carousel">
        <div class="carousel-inner" role="listbox" style="background-color:#2c3040;">
            <div class="item active imgen-carousel">
                <div class="fondos-imagen" style="background-image:url(../images/About/plan-your-galapagos-cruise.jpg);">
                    <img src="" alt="sailing Galapagos" class="fondos-imagen" style="background-image:url(../images/About/plan-your-galapagos-cruise.jpg); position:center; height:100%; width:100%;" />
                </div>
                <div class="carousel-caption" style="padding-bottom:45px; top:25%" role="option">
                    <h1 class="font-x2 font-brush font-carousel">
                        <strong>Galapagos Cruises</strong>
                    </h1>
                    <p class="font-x2 " style="font-size:18px; font-family:'BentonSans',sans-serif">
                        Galapagos cruises for discerning travelers who want to travel like the pioneers
                    </p>
                    <p>
                        <a id="help_me_plan" class="h5button bg-in  btn-carousel" data-toggle="modal" href="../form_taylorMade/form_taylorMade" style="text-decoration:none;padding:8px 25px;font-size:18px; font-family:'Noto Sans',sans-serif; z-index:50000" data-target="#taylorMade-Modal">
                            Help me Plan
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar  navbarsubmenu page-nav-home" data-toggle="sticky-onscroll" id="navpagina" style="border: 1px solid rgba(0,0,0,.1);">
        <div class="limit">
            <nav class="page-nav-anchors" style="text-transform:none; " id="sub-menu-cruises">
                <ul>
                    <li>
                        <a href="#TopCatamarans"><span>Top Catamarans</span> </a>
                    </li>
                    <li>
                        <a href="#PrivateCharters"><span>Private Charters</span></a>
                    </li>
                    <li>
                        <a style="width: 300px" href="#Experience"><span>The Experience</span></a>
                    </li>
                </ul>
            </nav>  <div id="TopCatamarans"></div>
        </div>
    </nav>
    <nav class="page-nav page-nav-home" data-toggle="sticky-onscroll" id="navmovil">
        <div class="limit" style="width:100%">
            <nav class="page-nav-anchors">
                <ul style="width:100%">
                    <li class="activities">
                        <a class="" href="#">  <span>Catamarans</span></a>
                    </li>
                    <li class="prepare" style="margin-left: 20px;">
                        <a href="#"><span>Private Charters</span></a>
                    </li>
                    <li class="itineraries" style="margin-left: 10px;">
                        <a href="#"> <span>The Experience</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
    <div class="container" style="margin-top:25px">
        <div class="row formato-parrafo text-justify" style="padding: .5em 1em; color: black !important; background:white;">
            <h4 style="color:black">
                <b>Exterior</b>
            </h4>
            <p>
                *Somos dueños y operadores de barcos, habiendo tenido 12 barcos en las islas, además
                de tener acuerdos inigualables con otros operadores. Contacta con nosotros y tendrás un
            </p>
        </div>
        <div id="image_history" class="row formato-parrafo text-justify" style="padding: .5em 1em; color: #656b6f !important; line-height:2; background:white;">
            <div class="col-md-9 col-sm-12 col-xs-12" style="margin-top:10px">
                <img src="~/images/About/galapagos-fund-wildaid-passion.jpg" style="width:100%; height:320px" />
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12" style="margin-top:10px">
                <img src="~/images/About/passion-charter-cruise-in-galapagos.jpg" style="width:100%; height:320px" />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row formato-parrafo text-justify" style="padding: .5em 1em; color: black !important; background:white;">
            <h4 style="color:black">
                <b>Social Areas</b>
            </h4>
            <p>
                *Somos dueños y operadores de barcos, habiendo tenido 12 barcos en las islas, además
                de tener acuerdos inigualables con otros operadores. Contacta con nosotros y tendrás un
            </p>
        </div>
        <div id="image_history" class="row formato-parrafo text-justify" style="padding: .5em 1em; color: black !important; background:white;">
            <div class="col-md-9 col-sm-12 col-xs-12" style="margin-top:10px">
                <img src="~/images/About/Copy of passengers - passion yacht.jpg" style="width:100%; height:320px" />
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12" style="margin-top:10px">
                <img src="~/images/About/SOCIAL-15-min.jpg" style="width:100%; height:320px" />
            </div>
        </div>
        <div id="image_history" class="row formato-parrafo text-justify" style="padding: .5em 1em; color: black !important;background:white;">
            <div class="col-md-3 col-sm-12 col-xs-12" style="margin-top:10px">
                <img src="~/images/About/SOCIAL-7-min.jpg" style="width:100%; height:320px" />
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12" style="margin-top:10px">
                <img src="~/images/About/SOCIAL-8-min.jpg" style="width:100%; height:320px" />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row formato-parrafo text-justify" style="padding: .5em 1em; color: black !important; background:white;">
            <h4 style="color:black">
                <b>Cabins</b>
            </h4>
            <p>
                *Somos dueños y operadores de barcos, habiendo tenido 12 barcos en las islas, además
                de tener acuerdos inigualables con otros operadores. Contacta con nosotros y tendrás un
            </p>
        </div>
        <div id="image_history" class="row formato-parrafo text-justify" style="padding: .5em 1em; color: black !important; background:white;">
            <div class="col-md-6 col-sm-12 col-xs-12" style="margin-top:10px">
                <img src="~/images/About/VIP.jpg" style="width:100%; height:320px" />
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12" style="margin-top:10px">
                <img src="~/images/About/vip-passion-3.jpg" style="width: 100%; height: 320px " />
            </div>
        </div>
        <div id="image_history" class="row formato-parrafo text-justify" style="padding: .5em 1em; margin-top:10px;color: black !important; background:white;">
            <div class="col-md-6 col-sm-12 col-xs-12" style="margin-top:10px">
                <img src="~/images/About/VIP.jpg" style="width:100%; height:320px" />
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12" style="margin-top:10px">
                <img src="~/images/About/vip-passion-3.jpg" style="width:100%; height:320px" />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row formato-parrafo text-justify" style="padding: .5em 1em; color: black !important; background:white;">
            <h4 style="color:black">
                <b>Experiences</b>
            </h4>
            <p>
                *Somos dueños y operadores de barcos, habiendo tenido 12 barcos en las islas, además
                de tener acuerdos inigualables con otros operadores. Contacta con nosotros y tendrás un
            </p>
        </div>
        <div id="image_history" class="row formato-parrafo text-justify" style="padding: .5em 1em; color: black !important; background:white;">
            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:10px">
                <img src="~/images/About/SOCIAL-15-min.jpg" style="width:100%; height:320px" />
            </div>
        </div>
        <div id="image_history" class="row formato-parrafo text-justify" style="padding: .5em 1em; color: black !important; background: white;">
            <div class="col-md-6 col-sm-12 col-xs-12 " style="margin-top:10px">
                <div class="row">
                    <img src="~/images/About/insurance-blog.jpg" style="width:96.3%; height:145px" />
                </div>
                <br />
                <div class="row">
                    <img src="~/images/About/insurance-blog.jpg" style="width:96.3%; height:145px" />
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 " style="margin-top:10px">
                <img src="~/images/About/Family-cruise.jpg" style="width: 100%;height: 320px" />
            </div>
        </div>
    </div>
    <br />
</div>