@{
     Layout = "_Layout";
 }
}
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" type="text/css" href="~/css/styleAndando.css" />
<link rel="stylesheet" type="text/css" href="~/css/styleAndando03.css" />
<script src="~/js/About.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" integrity="sha256-PZLhE6wwMbg4AB3d35ZdBF9HD/dI/y4RazA3iRDurss=" crossorigin="anonymous" />
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<div class="container--full-width" style="overflow:hidden; width:100%">
    <div id="myCarousel" class="carousel slide active" aria-hidden="true" data-ride="carousel">
        <div class="carousel-inner" role="listbox" style="background-color:#2c3040;">
            <div class="item active imgen-carousel">
                <div class="fondos-imagen" style="background-image:url(../images/About/andando-tours-cruise-operator-galapagos1.jpg);">
                    <img src="" alt="sailing Galapagos" class="fondos-imagen" style="background-image:url(../images/About/andando-tours-cruise-operator-galapagos1.jpg); position:center; height:100%; width:100%;" />
                </div>
                <div class="carousel-caption" style="padding-bottom:45px; top:25%" role="option">
                    <h1 class="font-x2 font-brush font-carousel">
                        <strong>About Andando Tours</strong>
                    </h1>
                    <p class="font-x2 " style="font-size:18px; font-family:'BentonSans',sans-serif">
                        Mainland Ecuador and Galapagos Travel Experts

                    </p>
                    <p>
                        <a id="help_me_plan" class="h5button bg-in  btn-carousel" data-toggle="modal" data-target="#ModalInquire" href="../form_taylorMade/form_taylorMade" style="text-decoration:none;padding:8px 25px;font-size:18px; font-family:'Noto Sans',sans-serif; z-index:50000">
                            Help me Plan
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <!--================================SUB MENU=========================-->
        <nav class="navbar  navbarsubmenu page-nav-home" data-toggle="sticky-onscroll" id="navpagina" style="border: 1px solid rgba(0,0,0,.1);">
            <div class="limit">
                <nav class="page-nav-anchors" style="text-transform:none; " id="sub-menu-cruises">
                    <ul>
                        <li>
                            <a href="#Overview"><span>Overview</span> </a>
                        </li>
                        <li>
                            <a href="#WhyAndando"><span>Why Andando</span></a>
                        </li>
                        <li>
                            <a style="width: 300px" href="#TripTypes"><span>Trip Types </span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </nav>
        <nav class="page-nav page-nav-home" data-toggle="sticky-onscroll" id="navmovil">
            <div class="limit" style="width:100%">
                <nav class="page-nav-anchors">
                    <ul style="width:100%">
                        <li class="activities">
                            <a class="" href="#">  <span>Overview</span></a>
                        </li>
                        <li class="prepare" style="margin-left: 20px;">
                            <a href="#"><span>Why Andando</span></a>
                        </li>
                        <li class="itineraries" style="margin-left: 10px;">
                            <a href="#"> <span>Trip Types</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </nav>
        <div class="container" id="WhyAndando">

            <ol class="breadcrumb" style="" itemscope itemtype="http://schema.org/BreadcrumbList">
                <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" style="color:#0077ba" href="../../">
                        <span itemprop="name">Home</span>
                    </a>
                    <meta itemprop="position" content="1" />
                </li>

                <li class="breadcrumb-item active" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <span itemprop="name">
                        About Us
                    </span>
                    <meta itemprop="position" content="4" />
                </li>
            </ol>


            <div id="Overview" class="row formato-parrafo text-justify textoinfo parrafo" style=" font-family: Arial; padding: .5em 1em; color: black !important; background: white; ">
                <h2 id="guide" style="color:black; text-align:left"> <b>Overview</b></h2>
                <p>

                    After   <b> 40 plus years of proven experience    </b> and achieving a consistent quality in safety and service,
                    we can truly claim to be not only a pioneer but also a <b> leading company</b> that stands apart and
                    where all of us take real pride in what we do. With extensive experience, Andando Tours is the
                    tour  <b>operator in Mainland Ecuador and Galapagos</b> that had perfected high standards and experienced
                    tourism the most, but keeping the family essence that we have always offered to our
                    passengers since the creation of tourism in the Galapagos to provide unique and unforgettable travels.



                </p>

                <p>

                    We make your trip part of a positive change! Andando Tours searches for the best and most responsible strategic partners in each region,  
                    partners that are committed with the protection of the environment,
                    pay fair wages and create pleasant working conditions and support the local economy and communities
                    <a style="text-decoration:none;color:#398AC9" href="/about-us/responsible-travel">View More >></a>

                </p>
             
                <p style="text-align:left">
                    Need Travel Information?  &nbsp; <a class="btn h5button BottonAndan" data-toggle="modal" data-target="#exampleModalCenter" href="../../form_taylorMade/form_taylorMade" id="help_me_plan">Contact an expert</a>
                </p>
            </div>


        </div>
        <div class="row" id="primeras_imagenes" style="padding-top:20px;">
            <div class="container">
                <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 " style="margin-left:8px;overflow-y:scroll; height:480px">





                    <div class="mainland-item2 textoinfo parrafo">

                        <h2 style="color:black; text-align:left">
                            <b>
                                What makes Andando Tours different?
                            </b>
                        </h2>
                        <div href="#" id="item_1">
                            <img id="img_cards" class="img-responsive" src="~/images/About/blue-footed-boobies-galapagos-experts.jpg" title=" Ecuador and Galapagos Experts" alt=" Ecuador and Galapagos Experts">
                            <p id="item_p" style="margin-top:-128px; font-size:15px">
                                <a style="color:#398AC9; text-decoration:none" href="#">
                                    Ecuador and Galapagos Experts


                                </a>
                            </p>
                            <p id="item_p" style="margin-top:-10px;margin-right:15px;font-size:15px">
                                Our company is composed of a multicultural staff with many years of experience in the
                                industry and passionate travelers. We have visited every corner of Ecuador
                                and tried every operating in the Galapagos so that you have the security
                                of choosing among safe options, with firsthand, up to date knowledge of what
                                you choose. We are confident in the tours and options we offer because we are
                                constant evaluation and investigation, to be able to offer the best travel experiences in Ecuador

                                <a style="text-decoration:none;color:#398AC9 !important; text-align:left" href="../about-us/our-team">  Meet our team >> </a>

                            </p>


                        </div>

                    </div>
                    <br />
                    <div class="mainland-item2 textoinfo parrafo" style="margin-top:0px">
                        <div href="#" id="item_1">
                            <img id="img_cards" class="img-responsive" src="~/images/About/travel-assistance.jpg" title="  Assistance during your whole trip" alt="  Assistance during your whole trip">
                            <p id="item_p" style="margin-top:-128px; font-size:15px">
                                <a style="color:#398AC9; text-decoration:none" href="#">
                                    Assistance during your whole trip

                                </a>
                            </p>
                            <p id="item_p" style="margin-top:-10px;margin-right:15px;font-size:15px">
                                Our personnel will be monitoring and helping you with whatever you need during your trip so that you don’t have to worry about anything else than enjoying yourself.


                            </p>

                        </div>
                    </div>
                    <br />
                    <div class="mainland-item2 textoinfo parrafo" style="margin-top:0px">
                        <div href="#" id="item_1">
                            <img id="img_cards" class="img-responsive" src="~/images/About/land-Iguana-amazing-itineraries.jpg" title="   Committed in Conservation" alt="   Committed in Conservation">
                            <p id="item_p" style="margin-top:-128px; font-size:15px">
                                <a style="color:#398AC9; text-decoration:none" href="#">
                                    Committed in Conservation

                                </a>
                            </p>
                            <p id="item_p" style="margin-top:-10px;margin-right:15px;font-size:15px">
                                We are actively committed and involved in conservation, restoration and community activities like waste-management, coastal cleanup and educational programs that promote better quality of life for all. More so, we have created a conservation fund with the collaboration of WildAid to protect the marine life in the Galapagos Islands
                                <a style="text-decoration:none;color:#398AC9 !important; text-align:left" href="../about-us/responsible-travel"> More Information >> </a>

                            </p>
                        </div>
                    </div>



                    <div class="mainland-item2 textoinfo parrafo" style="margin-top:0px">
                        <div href="#" id="item_1">
                            <img id="img_cards" class="img-responsive" src="~/images/About/insurance300x300.jpg" title="Passenger Insurance" alt="Passenger Insurance">
                            <p id="item_p" style="margin-top:-128px; font-size:15px">
                                <a style="color:#398AC9; text-decoration:none" href="#">
                                    Passenger Insurance


                                </a>
                            </p>
                            <p id="item_p" style="margin-top:-10px;margin-right:15px;font-size:15px">
                                All our passengers are covered by a protection and indemnity insurance.

                            </p>
                        </div>
                    </div>



                    <div class="mainland-item2 textoinfo parrafo" style="margin-top:0px">
                        <div href="#" id="item_1">
                            <img id="img_cards" class="img-responsive" src="~/images/About/hotels-haciendas.jpg" title="   Incredible Hotels and Haciendas" alt="   Incredible Hotels and Haciendas">
                            <p id="item_p" style="margin-top:-128px; font-size:15px">
                                <a style="color:#398AC9; text-decoration:none" href="#">
                                    Incredible Hotels and Haciendas


                                </a>
                            </p>
                            <p id="item_p" style="margin-top:-10px;margin-right:15px;font-size:15px">
                                The accommodations we work with breathe tradition in every corner, and at the same time, they are charming places where travelers can feel special. Our specialized guides and suppliers offer more than one service, creating true bonds with our clients, so they can feel first-hand the country’s traditions whilst they feel at home.

                            </p>
                        </div>
                    </div>




                    <div class="mainland-item2 textoinfo parrafo" style="margin-top:0px">
                        <div href="#" id="item_1">
                            <img id="img_cards" class="img-responsive" src="~/images/About/mockingbird-tailor-made.jpg" title="Tailor-Made travel Designers" alt="Tailor-Made travel Designers">
                            <p id="item_p" style="margin-top:-128px; font-size:15px">
                                <a style="color:#398AC9; text-decoration:none" href="#">
                                    Tailor-Made travel Designers



                                </a>
                            </p>
                            <p id="item_p" style="margin-top:-10px;margin-right:15px;font-size:15px">
                                We are a Galapagos tour operator that creates tailor-made travels, giving our customers the control from beginning to end. We like to get to know you to know how you like to travel and the details or activities that make your vacations more meaningful. Then, our team will design the vacations that suit your interests and budget.
                            </p>
                        </div>
                    </div>




                    <div class="mainland-item2 textoinfo parrafo" style="margin-top:0px">
                        <div href="#" id="item_1">
                            <img id="img_cards" class="img-responsive" src="~/images/About/nazca-boobie-exceptional-services.jpg" title="Operators of our own yachts" alt="Operators of our own yachts">
                            <p id="item_p" style="margin-top:-128px; font-size:15px">
                                <a style="color:#398AC9; text-decoration:none" href="#">
                                    Operators of our own yachts



                                </a>
                            </p>
                            <p id="item_p" style="margin-top:-10px;margin-right:15px;font-size:15px">
                                Andando Tours offers the two iconic Galapagos yachts M/Y Passion and S/S Mary Anne, as well as additional tourism products with the same philosophy of maintaining high standards and environmental consciousness.
                            </p>
                        </div>
                    </div>



                </div>

            </div>
        </div>

        <br />
        <div class="row" style="background: #eff0f3; margin-top:5px">
            <div class="col-md-6">
                <img id="image_experience_text" src="~/images/About/andando-tours-travel-experts.jpg" />
            </div>
            <div class="col-md-6">
                <div class="row formato-parrafo text-justify textoinfo" style="font-family:Arial;padding: 1.2em 1em; color: black !important;" id="experience_text">
                    <p style="color:black; font-size:25px">
                        <b>
                            Press Articles
                        </b>
                    </p>
                    <p style="font-size:17px">
                        Andando Tours has been featured in some of the major news media outlet, including National Geographic, US News, The Wall Street Journal, USA Today, Discover Magazine, wanderlust Magazine, The Mail and Globe, and many other publications.
                    </p>
                    <br />
                    <table style="margin-left:-13px">
                        <tr>
                            <td style="border:none">
                                <a class="btn h5button formato-parrafo" style="font-family:SegoeUI, Segoe UI" href="../about-us/media" id="help_me_plan4"> View Media Articles</a>
                            </td>
                            <td style="border:none">
                                <a class="btn h5button formato-parrafo" style="font-family:SegoeUI, Segoe UI" href="mailto:contact@andandotours.com" id="help_me_plan2">Press Requests</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <!--REVIEW SECTION-->
        <section class="" style="width:100%; background:white">
            <div class="">
                <div class="section-header dscroll dscroll-in">
                    <h2 class="section-header-title" style="font-family:Arial"><b>WHAT OUR CLIENTS SAY ABOUT US</b></h2>
                    @*<p>Powered by <img style="max-width: 100px;" src="https://www.reviews.io/cw-assets/img/logo.svg" class="img-loaded"></p>*@
                </div>
                <center>
                    @*<div id="carousel-widget" class="container"><iframe name="carousel-widget_frame" id="carousel-widget_frame" frameborder="0" width="100%" scrolling="no" height="299" title="Reviews Widget" src="https://widget.reviews.io/rich-snippet-reviews-widgets/widget?version=13b&amp;store=visitgalapagos-travel&amp;primaryClr=%23f47e27&amp;neutralClr=%23cccccc&amp;reviewTextClr=%23333333&amp;widgetName=carousel&amp;layout=fullWidth&amp;numReviews=40&amp;contentMode=product&amp;sku=ma&amp;hideDates=false&amp;elementId=carousel-widget&amp;origin=https%3A%2F%2Fwww.visitgalapagos.travel%2Fsailing-cruises%2Fmary-anne%2F"></iframe></div>*@

                    <div id="ReviewsWidget"></div>

                </center>
            </div>
        </section>
        <div id="TripTypes"></div>
        <!--FIN REVIEW SECTION-->
        <div class="row">
            <div class="container" id="TripTypes">
                <div class="row formato-parrafo text-justify" style="padding: .5em 1em; color: black !important; background:white; margin-left:5px;">
                    <p style="color:black; font-size:17px; font-family:Arial">
                        <b>Travel Types</b>
                        <div id="TripTypes"></div>
                    </p>
                    <p style="margin-top:-15px;font-family:Arial; margin-left:-7px;">
                        <a class="blog-rmore" href="../tours/" style="color:#179fec;font-size:17px ;text-decoration:none">Explore our trip Finder >></a>


                    </p>
                </div>
            </div>
        </div>
        <div class="row" id="four_image">
            <div class="container">
                <div id="image_team" class="row f-15 text-justify" style="padding: 0em 1em; color: black !important; background:white;margin-left:-15px;">
                    <div class="col-md-6 " style="padding-left:20px;margin-top:10px;padding-right:0">
                        <a href="../trip-types/family-vacations">
                            <img src="~/images/About/families.jpg" class="img-responsive" style="margin:0;width:100%" />
                        </a>
                    </div>
                    <div class="col-md-6 " style="padding-left:20px;margin-top:10px;padding-right:0">
                        <a href="../trip-types/honeymoons">
                            <img src="~/images/About/honeymoons.jpg" class="img-responsive" style="margin:0;width:100%" />
                        </a>
                    </div>

                    <div class="col-md-6 " style="padding-left:20px;margin-top:10px;padding-right:0">
                        <a href="../trip-types/gay-tours">
                            <img src="~/images/About/lgbt.jpg" class="img-responsive" style="margin:0;width:100%" />
                        </a>
                    </div>

                    <div class="col-md-6 " style="padding-left:20px;margin-top:10px;padding-right:0">
                        <a href="../trip-types/solo-travelers">
                            <img src="~/images/About/solo-travel-jpg.jpg" class="img-responsive" style="margin:0;width:100%" />
                        </a>
                    </div>
                </div>
                <br />
                <div id="demo" class="collapse ">
                    <div id="image_team" class="row f-15 text-justify" style="padding: 0em 1em; color: black !important; background:white;margin-left:-15px;">
                        <div class="col-md-6 " style="padding-left:20px;margin-top:10px;padding-right:0">
                            <a href="">
                                <img src="~/images/About/families.jpg" class="img-responsive" style="margin:0;width:100%" />
                            </a>
                        </div>

                        <div class="col-md-6 " style="padding-left:20px;margin-top:10px;padding-right:0">
                            <a href="">
                                <img src="~/images/About/families.jpg" class="img-responsive" style="margin:0;width:100%" />
                            </a>
                        </div>

                        <div class="col-md-6 " style="padding-left:20px;margin-top:10px;padding-right:0">

                            <a href="">
                                <img src="~/images/About/families.jpg" class="img-responsive" style="margin:0;width:100%" />
                            </a>
                        </div>


                        <div class="col-md-6 " style="padding-left:20px;margin-top:10px;padding-right:0">
                            <a href="">
                                <img src="~/images/About/families.jpg" class="img-responsive" style="margin:0;width:100%" />
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>


<link rel="stylesheet" href=" https://widget.reviews.io/combined/style.css?RUKcarousel">
<script src=" https://widget.reviews.io/combined/dist.js?RUKcarousel"></script>
<script>

    new ReviewsWidget('#ReviewsWidget', {

        store: 'visitgalapagos-travel',
        widget: 'prestige-card-carousel',
        maxReviews: 21,

        contentMode: 'third-party;product;company;',
        sku: 'all-product-reviews',

        structuredData: {
            product: "",
            company: ""
        },

        richSnippets: {
            product: true,
            company: true,
        },

        carouselOptions: {
            transitionSpeed: 320,
            draggableOnDesktop: true,
            showSliderArrows: true,
            autoScroll: false,
            autoScrollTime: 15,
            showTitle: true,
            titleText: `Our Customers Love Us`,
            showSubTitle: true,
            starsInSubTitle: true,
            starsAfterName: false,
            hideDates: true,
            hideThirdParty: true
        },

        styles: {
            starColor: '#FFE373',
            primaryColor: '#FFFFFF',
            textColor: '#555555',
            neutralColor: '#002073',
            borderRadius: "0px",
            boxShadow: "0 10px 10px rgba(0,32,115,0.04), 0 6px 6px rgba(0,32,115,0.07) ",
            logoColor: "#000",
            subTitleStar: "#FFE373"
        },
    });</script>
<!--Modal-->
<div class="bs-example">
    <!-- Modal Galeria HTML -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
</div>