@{
    ViewData["Title"] = "thank_you_page_cruise";
}
<div style="font-family: Arial;overflow-x:hidden">
    <div style="overflow:hidden">
        <div id="myCarousel" class="carousel slide active" aria-hidden="true" data-ride="carousel">
            <div class="carousel-inner" role="listbox" style="background-color:#2c3040;">
                <div class="item active imgen-carousel1">
                    <div class="fondos-imagen" style="background-image:url(../images/About/plan-your-galapagos-cruise.jpg);">
                        <img src="" alt="sailing Galapagos" class="fondos-imagen" style="background-image:url(../images/About/plan-your-galapagos-cruise.jpg); position:center; height:100%; width:100%;" />
                    </div>
                    <div class="carousel-caption" style="padding-bottom:45px; top:25%" role="option">
                        <h1 class="font-x2 font-brush font-carousel">
                            <strong>The trip of your dreams <br />is closer than ever before</strong>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="contenedorHome">
                <br /><br />
                <p class="formato-titulo parrafo" style="font-size:15px; text-align:justify">
                    *Somos dueños y operadores de barcos, habiendo tenido 12 barcos en las islas, además de tener
                    acuerdos inigualables con otros operadores. Contacta con nosotros y tendrás un contacto directo
                    en Ecuador y en Galápagos para tu viaje.
                </p>
                <center>
                    <div class="container" style="margin-left:-10%" id="contactos">
                        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12" style="left:8%">
                            <div class="vlsaFooter" style="border-radius:25px;width:60%; line-height:1.4">
                                <center>
                                    <span style="font-size:19px"><B>Need Hepl?</B> Live, toll free helpline</span>
                                    <span class="azuffOOTER" style="font-size:25px">
                                        +1 833
                                        2632636
                                    </span>
                                </center>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12" style="left:5%">
                            <div class="vlsaFooter" style="border-radius:25px;width:60%; line-height:1.4">
                                <center>
                                    <span style="font-size:19px"><B>Need Hepl?</B> Live, toll free helpline</span>
                                    <span class="azuffOOTER" style="font-size:25px">
                                        +1 833
                                        2632636
                                    </span>
                                </center>
                            </div>
                        </div>
                    </div>
                    <div class="container" style="margin-left:-10%" id="contactos1">
                        <div class="row">
                            <center>
                                <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12" id="sub_contact">
                                    <div class="vlsaFooter" style="border-radius:25px;width:80%; line-height:1.4">
                                        <center>
                                            <span style="font-size:19px"><B>Need Hepl?</B> Live, toll free helpline</span>
                                            <span class="azuffOOTER" style="font-size:25px">
                                                +1 833
                                                2632636
                                            </span>
                                        </center>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12" id="sub_contact">
                                    <div class="vlsaFooter" style="border-radius:25px;width:80%; line-height:1.4">
                                        <center>
                                            <span style="font-size:19px"><B>Need Hepl?</B> Live, toll free helpline</span>
                                            <span class="azuffOOTER" style="font-size:25px">
                                                +1 833
                                                2632636
                                            </span>
                                        </center>
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                </center>
                <center><h4><b>Quieres seguir completando tu itinerario en Ecuador?</b></h4><br /></center>
                <p class="formato-parrafo">
                    Aquí no vamos a poner productos, sino marcos informativos. Mirar página de thank you page actual.
                </p>
            </div>
        </div>
        <!--================================SUB MENU=========================-->
        <div class="row" style="border-bottom:1px solid #A2A0A0; border-top:1px solid #A2A0A0">
            <div class="container" style="z-index:400000;">
                <div class="contenidoFiltroPlanner unselectable bloq" style="background-color:#ffffff; text-align:center;">
                    <div id="tripFinderActivities">
                        <div class="btn-group ">
                            <button type="button" class="btn btn-default dropdown-toggle h5button botonFiltro"
                                    data-toggle="dropdown" style="color:#747475">
                                {{triptype}}  &middot; {{contTrip}}   <i class="fas fa-angle-down" style="color:#7B7979;"> </i>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li v-for="(value, key) in  object">
                                    <label class="containe">
                                        <span :style="{color: checkColor}" :id="key" name="tripType1">{{value}} </span>
                                        <input type="checkbox" :value="value" :id="key" v-model="checkedTrip" @@change="checkTripType($event)">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle h5button botonFiltro" style="color:#747475;"
                                    data-toggle="dropdown">
                                {{travelersTot}}<i class="fas fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu dropdownSty" role="menu" style="width:290px">
                                <li>
                                    <div class="row">
                                        <div class="col-md-6 ">
                                            <h4 style="padding:15px 0px 0 25px">Adults</h4>
                                        </div>
                                        <div class="col-md-6" style="padding:21px 0 0 5px">
                                            <div class="number-style" style="font-size:18px">
                                                <span class="number-minus" v-on:click="minusTravelersAdu" v-bind:class="colorAdu"></span>
                                                <p style="display:contents;font-family:Arial;color:#787778" :value="2"> {{ count }}</p>
                                                <span class="number-plus" v-on:click="moreTravelersAdu"></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4 style="padding:0 0 0 25px; margin-top:2px">Children</h4>
                                            <h5 style="padding:0px 0 0 25px;margin-top:-15px">From 4 to 12</h5>
                                        </div>
                                        <div class="col-md-6" style="padding:5px 0 0 5px" id="ChildrenDesk">
                                            <div class="number-style" style="font-size:18px">
                                                <span class="number-minus" v-on:click="minusTravelersChild" v-bind:class="colorChild"></span>
                                                <p style="display:contents;font-family:Arial;color:#787778"> {{ count1 }}</p>
                                                <span class="number-plus" v-on:click="moreTravelersChild"></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button class="h5button" id="btnResettleEs" v-on:click="resettleTravel">
                                                Resettle
                                            </button>
                                        </div>
                                        <div class="col-md-6">
                                            <button class="apply applyTravelerPlanner" id="applyTravel" v-on:click="applyTravel">
                                                Apply
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle h5button botonFiltro" style="color:#747475;"
                                    data-toggle="dropdown">
                                {{price}} <i class="fas fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu dropdownSty" role="menu" style="width:290px" v-bind:style="{display:menu}">
                                <li>
                                    <div class="row">
                                        <div class="col-md-12 ">
                                            <p>
                                                <label for="amountPrice" style="margin:10px 0 0px 15px;  font-size:17px; font-weight:normal">The averange price is $3500:</label>
                                            </p>
                                            <div class="selector" style="width:280px; padding-top:0">
                                                <div class="price-slider">
                                                    <div id="slider-rangePrice" v-on:click="priceRange" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" style="margin-bottom:0px;">
                                                        <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                                        <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="top:-4px;background:#FFFFFF;border:1px solid #E5E5E5"></span>
                                                        <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="top:-4px;background:#FFFFFF;border:1px solid #E5E5E5"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <p>
                                                <input type="text" id="amountPrice" readonly style="border:0; font-family:Arial;color:#787778; font-size:17px; margin:5px 0 0 20px">
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button class="h5button" id="btnResettleEs" style="margin-top:-8px;" onclick="resettlePricePlanner()" v-on:click="resettlePric">
                                                Resettle
                                            </button>
                                        </div>
                                        <div class="col-md-6">
                                            <button class="apply applyPricePlanner" style="padding-left: 50px;" v-on:click="applyPrice">
                                                Apply
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle h5button  botonFiltro" style="color:#747475;"
                                    data-toggle="dropdown">
                                {{filterDate}}  <i class="fas fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu dropdownSty" role="menu" style="width:525px; height:325px;">
                                <li>
                                    <div class="input-group input-daterange">
                                        <div class="row">
                                            <div class="col-md-6" style="padding-right:0px; width:260px">
                                                <div class="input-group dates datepickerFilter" data-provide="datepicker-inline" id="datepickerFilterPlanner" style="padding-left:0px;">
                                                </div>
                                            </div>
                                            <div class="col-md-6" style="padding-left:0px; width:260px">
                                                <div class="input-group dates datepickerFilter1" data-provide="" id="datepickerFilterPlanner_1" style="margin-left:10px;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <button class="h5button" id="btnResettleEs" style="margin-top:-8px;margin-left:8px" v-on:click="resettleDate">
                                                    Resettle
                                                </button>
                                            </div>
                                            <div class="col-md-6">
                                                <button class="apply applyDatePlanner" style="padding-left: 40px;margin-left: 150px;" v-on:click="applyDate">
                                                    Apply
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle h5button botonFiltro" style="color: #747475; "
                                    data-toggle="dropdown">
                                Lenght{{lenghtDay}} <i class="fas fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu dropdownSty" role="menu" style="width: 290px; height: 120px">
                                <li>
                                    <div class="row">
                                        <div class="col-md-6 " style="width:150px">
                                            <h4 style="padding:15px 0px 0 25px">Numbers of days</h4>
                                        </div>
                                        <div class="col-md-6" style="padding:21px 0 0 0px;width:150px;" id="leng">
                                            <div class="number-style" style="font-size:18px">
                                                <span class="number-minus" v-on:click="minusLenght" v-bind:class="colorLenght"></span>
                                                <p style="display:contents;font-family:Arial;color:#787778"> {{ countLen }}</p>
                                                <span class="number-plus" v-on:click="moreLenght"></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button class="h5button" id="btnResettleEs" style="margin-top:-8px;" v-on:click="resettlelenght">
                                                Resettle
                                            </button>
                                        </div>
                                        <div class="col-md-6">
                                            <button class="apply applyLenghtPlanner" v-on:click="applyLenght">
                                                Apply
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <a class="btn h5button btnFiltter">
                            Apply filters
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--================================CARD CRUCEROS=========================-->
        <div id="app" class="container f-15 text-justify" style="padding: .5em 1em; background:white; text-decoration:none;margin-top: 42px;">
            <div class="mainland-wrapper ">
                <div class="mainland">
                    <div class="row  f-15 text-justify textoinfo parrafo" style="font-family:Arial; color: #656b6f !important; line-height:2; background:white;">
                        <div class="Charters">
                            <h2 class="formato-titulo" style="margin-top:0;"><b>Our Recommended Galapagos Cruises</b></h2>
                        </div>
                        <div class=" col-xs-12 col-sm-6 col-md-4 cardsAndando" v-if="verificarBarcos">
                            <!--ELEMENTO 1-->
                            <div class="contenido-app" :id="barcos[1].idBarco" v-on:click="select($event)">
                                <a href="../../luxury-cruise/passion-yacht/" style="text-decoration:none" target="_blank" class="anc-card">
                                    <div class="mainland-item cardEco">
                                        <div class="mainland-image">
                                            <img src="~/images/Cruceros/archipel-galapagos-cruise.jpg" class="img-portada" alt="">
                                            <div class="wildAid">
                                                <h5>Collaborating with WildAid to protect the Islands. </h5>
                                            </div>
                                            <div class="cruise-detailsEco">
                                                <span>Category: {{barcos[0].barcoCategoriaTipoNombreEn}}</span>
                                                @*<span>Category: First-Class</span>*@
                                            </div>
                                        </div>
                                        <div class="cruise-info">
                                            <h3 style="font-family:'Berlin Sans FB'">{{barcos[0].barcoNombre}}</h3>
                                            <p>
                                                {{desBarco[0]}}
                                                to detail.
                                            </p>
                                            <div class="rest-info">
                                                <span class="price" style="margin-left:10px; font-family:Arial">Price from: $2,600 (4 Days).</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!--ELEMENTO 1-->
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 cardsAndando">
                            <div class="contenido-app">
                                <a href="../luxury-cruise/passion-yacht/" style="text-decoration:none" target="_blank" class="anc-card">
                                    <div class="mainland-item">
                                        <div class="mainland-image">
                                            <img src="~/images/Cruceros/elite-galapagos-cruise.jpg" class="img-portada" alt="">
                                            <div class="cruise-details">
                                                @*<span>{{post.barcoNombre}}</span>*@
                                                <span>Category: First-Class</span>
                                            </div>
                                        </div>
                                        <div class="cruise-info">
                                            <h3 style="font-family:'Berlin Sans FB'">S/S Mary Anne</h3>
                                            <p style="text-align:justify; margin-left:-5px; font-family:Arial">
                                                Ample spaces, sleek and modern decor, exceptional service, and a keen attention to detail.
                                            </p>
                                            <div class="rest-info">
                                                <span class="price" style="margin-left:10px; font-family:Arial">Price from: $2,600 (4 Days).</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 cardsAndando">
                            <div class="contenido-app">
                                <a href="../luxury-cruise/passion-yacht/" style="text-decoration:none" target="_blank" class="anc-card">
                                    <div class="mainland-item">
                                        <div class="mainland-image">
                                            <img src="~/images/Cruceros/golondrina-small-yacht.jpg" class="img-portada" alt="">
                                            <div class="cruise-details">
                                                @*<span>{{post.barcoNombre}}</span>*@
                                                <span>Category: First-Class</span>
                                            </div>
                                        </div>
                                        <div class="cruise-info">
                                            <h3 style="font-family:'Berlin Sans FB'">M/C Tip Top II</h3>
                                            <p style="text-align:justify; margin-left:-5px; font-family:Arial">
                                                Ample spaces, sleek and modern decor, exceptional service, and a keen attention to detail.
                                            </p>
                                            <div class="rest-info">
                                                <span class="price" style="margin-left:10px; font-family:Arial">Price from: $2,600 (4 Days).</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 cardsAndando">
                            <!--ELEMENTO 1-->
                            <div class="contenido-app">
                                <a href="../sailing-cruises/mary-anne/" style="text-decoration:none" target="_blank" class="anc-card">
                                    <div class="mainland-item">
                                        <div class="mainland-image">
                                            <img src="~/images/Cruceros/mary-anne-galapagos-cruise.jpg" class="img-portada" alt="Avenue of volcanoes">
                                            <div class="cruise-details">
                                                <span>Category: First-Class</span>
                                            </div>
                                        </div>
                                        <div class="cruise-info">
                                            <h3 style="font-family:'Berlin Sans FB'">S/S Mary Anne</h3>
                                            <p>
                                                An impressive vessel with 1,000 m2 canvas sails that will sweep you majestically across the waves.
                                            </p>
                                            <div class="rest-info">
                                                <span class="price" style="margin-left:10px; font-family:Arial">Price from: $4,500 (8 Days).</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!--ELEMENTO 1-->
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 cardsAndando">
                            <!--ELEMENTO 2-->
                            <div class="contenido-app">
                                <a href="../sailing-cruises/mary-anne/" style="text-decoration:none" target="_blank" class="anc-card">
                                    <div class="mainland-item">
                                        <div class="mainland-image">
                                            <img src="~/images/Cruceros/nemo-ii-galapagos-ship.jpg" class="img-portada" alt="Avenue of volcanoes">
                                            <div class="cruise-details">
                                                <span>Category: First-Class</span>
                                            </div>
                                        </div>
                                        <div class="cruise-info">
                                            <h3 style="font-family:'Berlin Sans FB'">S/S Mary Anne</h3>
                                            <p>
                                                An impressive vessel with 1,000 m2 canvas sails that will sweep you majestically across the waves.
                                            </p>
                                            <div class="rest-info">
                                                <span class="price" style="margin-left:10px; font-family:Arial">Price from: $4,500 (8 Days).</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!--ELEMENTO 2-->
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 cardsAndando">
                            <!--ELEMENTO 3-->
                            <div class="contenido-app">
                                <a href="../first-class-cruises/tip-top-ii/" style="text-decoration:none" target="_blank" class="anc-card">
                                    <div class="mainland-item">
                                        <div class="mainland-image">
                                            <img src="~/images/Cruceros/ocean-spray-galapagos.jpg" class="img-portada" alt="North of Ecuador itineraries">
                                            <div class="cruise-details">
                                                <span>Category: First-Class</span>
                                            </div>
                                        </div>
                                        <div class="cruise-info">
                                            <h3 style="font-family:'Berlin Sans FB'">M/C Tip Top II</h3>
                                            <p>
                                                First-class experience with high-end accommodations and services at very competitive rates
                                            </p>
                                            <div class="rest-info">
                                                <span class="price" style="margin-left:10px; font-family:Arial">Price from: $3,070 (4 Days).</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!--ELEMENTO 3-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>