@{
    Layout = "_Layout";
    ViewData["Title"] = "cruises-for-single-adventurers";
}
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<title>Galapagos cruise options for single adventurers</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="The best cruise options for single adventurers in Galapagos. A small selection of boats featuring single cabins with no single supplement." />
<link rel="stylesheet" type="text/css" href="~/css/styleAndando.css" />
<link rel="stylesheet" type="text/css" href="~/css/styleAndando03.css" />
<link rel="stylesheet" type="text/css" href="~/css/app.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" integrity="sha256-PZLhE6wwMbg4AB3d35ZdBF9HD/dI/y4RazA3iRDurss=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<div class="container--full-width" style="overflow:hidden; width:100%">
    <div id="myCarousel" class="carousel slide active" aria-hidden="true" data-ride="carousel">
        <div class="carousel-inner" role="listbox" style="background-color:#2c3040;">
            <div class="item active imgen-carousel">
                <div class="fondos-imagen" style="background-image:url(../images/About/plan-your-galapagos-cruise.jpg);">
                    <img src="" alt="sailing Galapagos" class="fondos-imagen" style="background-image:url(../images/About/plan-your-galapagos-cruise.jpg); position:center; height:100%; width:100%;" />
                </div>
                <div class="carousel-caption" style="padding-bottom:45px; top:25%;" role="option">
                    <h1 class="font-x2 font-brush font-carousel" style="line-height:1">
                        <strong>Galapagos Cruise Options for Single Adventurers</strong>
                    </h1>
                    <p class="font-x2 " style="font-size:18px; font-family:'BentonSans',sans-serif">
                        Galapagos cruises for discerning travelers who want to travel like the pioneers
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--================================SUB MENU=========================-->
    <nav class="navbar  navbarsubmenu page-nav-home" data-toggle="sticky-onscroll" id="navpagina" style="border: 1px solid rgba(0,0,0,.1);">
        <div class="limit">
            <nav class="page-nav-anchors" style="text-transform:none; " id="sub-menu-cruises">
                <ul>
                    <li>
                        <a href="#TopCatamarans"><span>Single Supplement</span> </a>
                    </li>
                    <li>
                        <a href="#PrivateCharters"><span>Travel Options</span></a>
                    </li>
                    <li>
                        <a style="width: 300px" href="#Experience"><span>Cruises</span></a>
                    </li>
                </ul>
            </nav>  <div id="TopCatamarans"></div>
        </div>
    </nav>
    <nav class="page-nav page-nav-home" data-toggle="sticky-onscroll" id="navmovil">
        <div class="limit" style="width:100%">
            <nav class="page-nav-anchors">
                <ul style="width:100%">
                    <li class="activities">
                        <a class="" href="#">  <span>Single Supplement</span></a>
                    </li>
                    <li class="prepare" style="margin-left: 20px;">
                        <a href="#"><span>Travel Options</span></a>
                    </li>
                    <li class="itineraries" style="margin-left: 10px;">
                        <a href="#"> <span>Cruises</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
    <div class="container">
        <div class="row formato-parrafo text-justify textoinfo parrafo" style="font-family:Arial;padding: .5em 1em;  line-height:2; background:white;">
            <h2 style="color:black; text-align:left"> <b>Traveling Solo to Ecuador</b></h2>
            <p>
                In the following article, we are going to share with you the best cruise options for single adventurers in Galapagos. To a solo traveler it may look challenging to visit the Galapagos, but there are some cruises that offer single cabins with no single supplement.
            </p>
            <p>
                Vacationing on your own is an eye-opening experience that allows you to meet all different kinds of people, travel at your will, and decide when and where you want to go. If you have the chance to do it one day, we highly recommend it. However, for those on a budget, the thrill of traveling solo in Galapagos can sometimes be thwarted by the fact that you may find yourself paying more for lodgings and tours.
            </p>
            <p>
                When planning a solo trip to Galapagos, you may find <b>the term SINGLE SUPPLEMENT:</b>
            </p>
            <h2 style="color:black; text-align:left"> <b>What really is the term single supplement?</b></h2>
            <p>
                Often times single travelers or guests who wish to occupy single accommodations that are designed for two or more people, have to pay a single supplement as per person prices are always calculated on the basis of double (and in some cases triple) occupancy. Don’t let this fact stop you because thanks to some cruise options exclusively designed for single adventurers, being a single traveler in the Galapagos doesn’t have to be as costly as you initially thought.
            </p>
            <h2 style="color:black; text-align:left"> <b>More options for travel solo on a Galapagos Cruise</b></h2>
            <p>
                <ul>
                    <li style="margin-left:1.5%" type="disc">
                        <span>If you are able to share a cabin, tour agencies can match you up with another Galapagos solo traveler to share a room and cut costs, but not always. Most of the times, all the spaces on a cruise are not filled up, so you may be lucky to enjoy the cabin just for yourself.</span>
                    </li>
                    <li style="margin-left:1.5%" type="disc">
                        <span>Ask a travel expert to find a Galapagos cruise for you with single cabins that don't have single supplement.</span>
                    </li>
                </ul>
            </p>
            <h2 style="color:black; text-align:left"> <b>Galapagos Cruises for solo travelers</b></h2>
            <h3 style="color:black; text-align:left"> <b>Galapagos Sailing Cruises</b></h3>
            <p>
                If you’re looking for an intimate cruising experience, the <a href="#" style="text-decoration:none; color:#398AC9">Mary Anne</a> barquentine featuring three masts and 16 sails, could be the right boat for you. It’s steel hull and tall masts make it one of the most stable vessels in the islands. With cabins exclusively designed for singles with no single supplement, you really can’t go wrong.
            </p>
        </div>
        <div class="row formato-parrafo text-justify" style="padding: .5em 1em; margin-top:-30px; line-height:2; background:white;">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <img style="width:100%; height:230px" src="~/images/About/galapagos-fund-wildaid-passion.jpg" />
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <img style="width:100%; height:230px" src="~/images/About/passion-charter-cruise-in-galapagos.jpg" />
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <img style="width:100%; height:230px" src="~/images/About/passion-charter-cruise-in-galapagos.jpg" />
            </div>
        </div>
        <div class="row formato-parrafo text-justify textoinfo parrafo" style="font-family:Arial;padding: .5em 1em; margin-top:0%;line-height:2; background:white;">
            <p>
                <center><a class="btn h5button" style="margin-left:10px;" href="../form_taylorMade/form_taylorMade#popup1" data-target="#popup1" id="help_me_plan">Hepl me plan</a></center>
            </p>
        </div>

        <div class="row formato-parrafo text-justify textoinfo parrafo" style="font-family:Arial;padding: .5em 1em;  line-height:2; background:white;">
            <h3 style="color:black; text-align:left"> <b>First-Class Boats</b></h3>
            <p>
                Both the 16-passenger <a href="#" style="text-decoration:none; color:#398AC9">Tip Top II</a> and <a href="#" style="text-decoration:none; color:#398AC9">M/Y Passion</a> offer a single cabin. Both are very modern boats having been built in the last few years and they offer the utmost in stabilizing technology for a smooth ride and all the amenities of a luxury boat.
            </p>
        </div>
        <div class="row formato-parrafo text-justify" style="padding: .5em 1em; margin-top:-30px; line-height:2; background:white;">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <img style="width:100%; height:230px" src="~/images/About/galapagos-fund-wildaid-passion.jpg" />
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <img style="width:100%; height:230px" src="~/images/About/passion-charter-cruise-in-galapagos.jpg" />
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <img style="width:100%; height:230px" src="~/images/About/passion-charter-cruise-in-galapagos.jpg" />
            </div>
        </div>
        <div class="row formato-parrafo text-justify textoinfo parrafo" style="font-family:Arial;padding: .5em 1em; line-height:2; background:white;">
            <p>
                In addition to these boats with accommodations exclusively for singles at no additional cost, there is also a wide selection of Galapagos boats that you can select keeping in mind that you may have to pay a single cabin supplement or share a cabin with another passenger of the same gender.
            </p>
            <p>
                <center><a class="btn h5button" style="margin-left:10px;" data-toggle="modal" data-target="#ModalInquire" href="../form_taylorMade/form_taylorMade" id="help_me_plan">Hepl me plan</a></center>
            </p>
        </div>

        <div class="row formato-parrafo text-justify textoinfo parrafo" style="font-family:Arial;padding: .5em 1em;  line-height:2; background:white;">
            <h3 style="color:black; text-align:left"> <b>Bigger Cruise Ships</b></h3>
            <p>
                If you’re looking for a more classic cruising experience and the chance to get to know lots of other travelers like you, you may consider some of the bigger Galapagos vessels such as the Santa Cruz II and La Pinta, both of which offer accommodations for singles. The Santa Cruz II, a boat with capacity for 90 passengers, has two single cabins located on the Horizon Deck, and La Pinta offers three cabins out of its 24 for singles.
            </p>
        </div>
        <div class="row formato-parrafo text-justify" style="padding: .5em 1em; margin-top:-30px; line-height:2; background:white;">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <img style="width:100%; height:230px" src="~/images/About/galapagos-fund-wildaid-passion.jpg" />
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <img style="width:100%; height:230px" src="~/images/About/passion-charter-cruise-in-galapagos.jpg" />
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <img style="width:100%; height:230px" src="~/images/About/passion-charter-cruise-in-galapagos.jpg" />
            </div>
        </div>
        <div class="row formato-parrafo text-justify textoinfo parrafo" style="font-family:Arial;padding: .5em 1em; margin-top:0%;line-height:2; background:white;">
            <p>
                <center><a class="btn h5button" style="margin-left:10px;" data-toggle="modal" data-target="#ModalInquire" href="../form_taylorMade/form_taylorMade" id="help_me_plan">Hepl me plan</a></center>
            </p>
        </div>
    </div>
</div>
<div class="bs-example">
    <!-- Modal Galeria HTML -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
</div>