@{
    Layout = "_Layout";
}
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" type="text/css" href="~/css/styleAndando.css" />
<link rel="stylesheet" type="text/css" href="~/css/styleAndando03.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" integrity="sha256-PZLhE6wwMbg4AB3d35ZdBF9HD/dI/y4RazA3iRDurss=" crossorigin="anonymous" />
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<div class="container--full-width" style="overflow:hidden; width:100%">
    <div id="myCarousel" class="carousel slide active" aria-hidden="true" data-ride="carousel">
        <div class="carousel-inner" role="listbox" style="background-color:#2c3040;">
            <div class="item active imgen-carousel">
                <div class="fondos-imagen" style="background-image:url(../../images/Plan-your-trip/Ecuador-costs/costs-ecuador-trip.jpg);">
                    <img src="" alt="sailing Galapagos" class="fondos-imagen" style="background-image:url(../../images/Plan-your-trip/Ecuador-costs/costs-ecuador-trip.jpg); position:center; height:100%; width:100%;" />
                </div>
                <div class="carousel-caption" style="padding-bottom:45px; top:25%" role="option">
                    <h1 class="font-x2 font-brush font-carousel">
                        <strong>Costs of travel in Ecuador</strong>
                    </h1>
                    <p class="font-x2 " style="font-size:18px; font-family:'BentonSans',sans-serif">

                    </p>
                    <p>
                        @*<a id="help_me_plan" class="h5button bg-in  btn-carousel" data-toggle="modal" href="../form_taylorMade/form_taylorMade" style="text-decoration:none;padding:8px 25px;font-size:18px; font-family:'Noto Sans',sans-serif; z-index:50000" data-target="#exampleModalCenter">
                                Help me Plan
                            </a>*@
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--================================SUB MENU=========================-->
    <nav class="navbar  navbarsubmenu page-nav-home" data-toggle="sticky-onscroll" id="navpagina" style="border: 1px solid rgba(0,0,0,.1);">
        <div class="limit">
            <nav class="page-nav-anchors" style="text-transform:none; " id="sub-menu-cruises">
                <ul>
                    <li>
                        <a href="#consideration"><span>Considerations</span> </a>
                    </li>
                    <li>
                        <a href="#"><span></span></a>
                    </li>
                    <li>
                        <a style="width: 300px" href="#Costs Breakdown"><span>Costs Breakdown</span></a>
                    </li>
                </ul>
            </nav>  <div id="TopCatamarans"></div>
        </div>
    </nav>
    <nav class="page-nav page-nav-home" data-toggle="sticky-onscroll" id="navmovil">
        <div class="limit" style="width:100%">
            <nav class="page-nav-anchors">
                <ul style="width:100%">
                    <li class="activities">
                        <a class="" href="#consideration">  <span>Considerations</span></a>
                    </li>
                    <li class="prepare" style="margin-left: 20px;">
                        <a href="#"><span></span></a>
                    </li>
                    <li class="itineraries" style="margin-left: 10px;">
                        <a href="#Costs Breakdown"> <span>Costs Breakdown</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
    <div class="container">
        <div class="row formato-parrafo text-justify textoinfo parrafo" style=" font-family: Arial; padding: .5em 1em; color: black !important; background: white; ">

            <ol class="breadcrumb" style="" itemscope itemtype="http://schema.org/BreadcrumbList">
                <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" style="color:#0077ba" href="../../">
                        <span itemprop="name">Home</span>
                    </a>
                    <meta itemprop="position" content="1" />
                </li>
                <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" style="color:#0077ba" href="../">
                        <span itemprop="name">Plan Your Trip</span>
                    </a>
                    <meta itemprop="position" content="2" />
                </li>

                <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" style="color:#0077ba" href="../mainland-ecuador/">
                        <span itemprop="name"> Mainland Ecuador Travel Information </span>
                    </a>
                    <meta itemprop="position" content="3" />
                </li>


                <li class="breadcrumb-item active" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <span itemprop="name">
                        Costs
                    </span>
                    <meta itemprop="position" content="4" />
                </li>
            </ol>



            <p><h2 style="color:black; text-align:left"> <b>What is the cost of a trip to Ecuador?</b></h2></p>
            <p>
                Ecuador does not have its own currency like other countries in
                South America, but uses the US Dollar. However, it is not a very
                expensive country in which to travel.
            </p>
            <p style="text-align:justify;"> <h4 style="color:black" id="cruisesFiltersDesktop"> <b>Ecuador</b></h4></p>
            <p>
                It is one of the countries in the Latin America region with the
                greatest tourist offer, so you can find basic options at reduced
                prices, as well as luxury options for accommodation and meals.
            </p>
            <p style="text-align:justify;"> <h4 style="color:black" id="cruisesFiltersDesktop"> <b>Galapagos</b></h4></p>
            <p>
                The most important expense when we take a tour in a country is
                transportation: flights between cities, hours in a train, long
                bus connections to reach nature destinations, etc. All of these
                options are one of the main expenses during your trip, both in
                time and money. Ecuador is a small country, where most of the
                tourist attractions are within a few hours of each other. Therefore,
                <b>transport costs are not going to be an issue</b> when exploring the
                entire country and its different ecosystems and cultures.
            </p>
            <p><h3 style="color:#398AC9;text-align:left"><b>Average Daily Costs</b></h3></p>
            <p>
                <b>Budget: Less than $60</b>
            </p>
            <p>
                <ul>
                    <li type="disc" style="margin-left:16px">
                        <span>Budget guesthouses: $8–20 per person</span>
                    </li>
                    <li type="disc" style="margin-left:16px; margin-top:10px">
                        <span>Set lunches: $3–5</span>
                    </li>
                    <li type="disc" style="margin-left:16px; margin-top:10px">
                        <span>Bike rental or cheap activities: $10 - $25</span>
                    </li>
                    <li type="disc" style="margin-left:16px; margin-top:10px">
                        <span>Bus transportation: $5 - $10</span>
                    </li>
                </ul>
            </p>
            <p>
                <b>Midrange: $80–250</b>
            </p>
            <p>
                <ul>
                    <li type="disc" style="margin-left:16px">
                        <span>Room for two in a  midrange hotel: $60–120</span>
                    </li>
                    <li type="disc" style="margin-left:16px; margin-top:10px">
                        <span>Meal and dinner for two in a restaurant: $40–70</span>
                    </li>
                    <li type="disc" style="margin-left:16px; margin-top:10px">
                        <span>Group tours: $45–90 per person</span>
                    </li>
                    <li type="disc" style="margin-left:16px; margin-top:10px">
                        <span>Jungle lodges: from $80 per day per person.</span>
                    </li>
                </ul>
            </p>
            <p>
                <b>Top end: More than $300</b>
            </p>
            <p>
                <ul>
                    <li type="disc" style="margin-left:16px">
                        <span>Top Amazon lodges: around $400 per day per person</span>
                    </li>
                    <li type="disc" style="margin-left:16px; margin-top:10px" id="consideration">
                        <span>Exclusive Private Activities: from $75 per person</span>
                    </li>
                    <li type="disc" style="margin-left:16px; margin-top:10px">
                        <span>Double Room in a Luxury Colonial Hotel or Hacienda: from $140</span>
                    </li>
                    <li type="disc" style="margin-left:16px; margin-top:10px">
                        <span>Meal and dinner for two in a high-end restauant: $120 - $180</span>
                    </li>
                </ul>
            </p>
            <p><h2 style="color:black; text-align:left"> <b>The cost of travel in Ecuador depends on a variety of factors</b></h2></p>
            <p><h3 style="color:#398AC9;text-align:left"><b>Seasonality</b></h3></p>
            <p>
                Ecuador has high and low seasons and prices can vary accordingly.
            </p>
            <p>
                The high tourist season in Ecuador runs from mid-June to early September
                and starts again in late December. These high seasons are more about when
                people are able to take vacations rather than the weather.
            </p>
        </div>
        <div id="image_history" class="row formato-parrafo text-justify" style="padding: .5em 1em; color: black !important; background:white;">
            <div class="col-md-8 col-sm-12 col-xs-12" style="margin-top:10px">
                <img src="~/images/Plan-your-trip/Ecuador-costs/ecuador-costs-beach.jpg" style="width:98%; height:320px" />
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12" style="margin-top:10px">
                <img src="~/images/Plan-your-trip/Ecuador-costs/ecuador-museum-costs.jpg" style="width:100%; height:320px" />
            </div>
        </div>
        <div class="row formato-parrafo text-justify textoinfo parrafo" style=" font-family: Arial; padding: .5em 1em; color: black !important; background: white; ">
            <p>
                In addition to vacations, you should take into account national
                holidays, since during these periods hotel occupancy rates are
                higher and therefore prices can also rise.
            </p>

            <p>
                <a href="../../plan-your-trip/ecuador-travel-recommendations/festivities-of-ecuador" style="color:#398AC9; text-decoration:none">Check out festivities of Ecuador</a>
            </p>
            <p><h3 style="color:#398AC9;text-align:left"><b>Travel with an agency or on your own?</b></h3></p>

            <p>
                If you buy a <b>package</b> designed by specialists in the destination,
                you will be able to <b>get a better price on activities and accommodation</b>,
                since local operators have agreements with hotels and guides.
                In the case of Andando Tours, we have the best guides on staff.
            </p>
            <p>
                Also, you can have a customized itinerary in which you make the most of
                your time, arriving directly at each place of interest, ensuring availability
                and being able to manage alternatives in case of any issues, while you
                enjoy the experience. A <b>
                    local operator offers you a better value for your
                    money
                </b> if you want a different and exclusive experience visiting a larger
                number of places, doing different activities and staying in unique hotels.
            </p>
            <p>
                <a  style="color:#398AC9; text-decoration:none" href="/ecuador-itineraries/">Related: Sample Ecuador Itineraries >></a>
            </p>
            <p>
                On the other hand, if you decide to travel <b>on your own</b>, you will have <b>
                    more
                    freedom
                </b> when choosing which tours and activities you would like to do,
                managing your own budget but you will have to be aware of day-to-day
                availability that’s easier to manage by working with an agency.
            </p>
            <p><h3 style="color:#398AC9;text-align:left"><b>Private or shared tours?</b></h3></p>
            <p>
                This is another important factor to consider. Whether you travel on your own
                and want to book daily tours, or if you travel with a specialist who has organized
                your trip, you can choose to join other groups or travel privately.
            </p>
            <p id="Costs Breakdown">
                We always suggest traveling privately to have a more exclusive experience and to
                have more possibilities when designing your itinerary. In this way, you can enjoy
                experiences that other people would not have even imagined.
            </p>
            <p>
                <a style="color:#398AC9; text-decoration:none" href="/plan-your-trip/ecuador-travel-ideas/">Related: What to do in Mainland Ecuador >></a>
            </p>
            <p><h2 style="color:black; text-align:left"> <b>Cost Breakdown</b></h2></p>
            <p><h3 style="color:#398AC9;text-align:left"><b>Lodging</b></h3></p>
            <p>
                Lodging in Ecuador is very cheap and you can get a clean and comfortable private
                room in a <b>nice but simple hotel for $20 - $50. Boutique 4-star hotels</b> in colonial
                buildings in the historic center of Quito or Cuenca can be found for between <b>
                    $100
                    - $200
                </b> per night per room. The most exclusive options, and also the hotels in the
                most demand, can cost over $400 per night per room.
            </p>
            <p>
                <a style="color:#398AC9; text-decoration:none" href=" /ecuador-itineraries/#uniquehotels">Related: Unique properties in Ecuador >></a>
            </p>
            <p>
                <b>Lodging in the Amazon</b> is more expensive because it includes transportation, guides, meals
                and activities. There is no way to visit the primary forest on your own, since it is necessary
                to stay in lodges in the middle of the rainforest several hours from the nearest populated areas.
                That is part of the true charm of being in the middle of the jungle!
            </p>
            <p>
                Costs can range from $300 for a 4-day program in the least expensive lodges to $1200 in the most
                exclusive and remote lodges.
            </p>
            <p><h3 style="color:#398AC9;text-align:left"><b>Transportation</b></h3></p>
            <p>
                If you are going to visit the capital of Ecuador, the average fare from the airport to the Quito´s
                downtown is $ 25 and it takes around 45 minutes. Based on this value, you can calculate how much
                every taxi will cost you. For example, short distances between 10 - 15 minutes ride may cost around
                $3,5.
            </p>
            <p>
                <b>Bus travel</b> between provinces is extremely cheap in Ecuador. For example, a three-hour ride by bus
                might cost around $5.
            </p>
            <p>
                Renting <b>private transportation</b> for a day costs around $120. If your guide is also the driver, the
                transport costs are considerably reduced.
            </p>
            <p>
                If you take <b>private or shared tours,</b> transportation is included in the tour price.
            </p>
            <p><h3 style="color:#398AC9;text-align:left"><b>Meals</b></h3></p>
            <p>
                <ul>
                    <li type="disc" style="margin-left:16px">
                        <span><b>Breakfast:</b> Most hotels include breakfast but if not, the cost of a breakfast at a restaurant can range from $3 to $15.</span>
                    </li>
                    <li type="disc" style="margin-left:16px; margin-top:10px">
                        <span>
                            <b>Lunch:</b> A local executive menu, which includes soup, a main course and a small dessert, can cost approximately $3- $ 5 per person.
                            At a la carte restaurants, main courses start at $8, and the price can go up depending on whether you add an entree or dessert.
                        </span>
                    </li>
                    <li type="disc" style="margin-left:16px; margin-top:10px">
                        <span>
                            <b>Dinner:</b> The cost can vary according to your taste, the type of restaurant and the type of dishes chosen. For example,  the main
                            dishes in some of the most exclusive restaurants in Ecuador can be priced for $15 to $40.
                        </span>
                    </li>
                </ul>
            </p>
            <p><h3 style="color:#398AC9;text-align:left"><b>Tours and Activities</b></h3></p>
            <p>
                Prices mainly depend on whether you do the tour privately or on a shared basis.
                For example, a <b>full-day shared tour</b> to visit a snow-capped volcano and rose
                plantation can cost about $45 per person. On the other hand, a private and <b>
                    more
                    exclusive tour
                </b> like horse riding close to water bufalas where you will be so
                close that you will feel their breath in your body, will cost more than $140 per
                person. Helicopter ride over the andean volcanoes cost around $400 per person.
            </p>
        </div>
    </div>
    <br />
</div>
<div class="bs-example">
    <!-- Modal Galeria HTML -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
</div>