@{
    Layout = "_Layout";
}
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" type="text/css" href="~/css/styleAndando.css" />
<link rel="stylesheet" type="text/css" href="~/css/styleAndando03.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" integrity="sha256-PZLhE6wwMbg4AB3d35ZdBF9HD/dI/y4RazA3iRDurss=" crossorigin="anonymous" />
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<div class="container--full-width" style="overflow:hidden; width:100%">
    <div id="myCarousel" class="carousel slide active" aria-hidden="true" data-ride="carousel">
        <div class="carousel-inner" role="listbox" style="background-color:#2c3040;">
            <div class="item active imgen-carousel">
                <div class="fondos-imagen" style="background-image:url(../images/Plan-your-trip/Galapagos-travel-information/galapagos-travel-information.jpg);">
                    <img src="" class="fondos-imagen" alt="galapagos-travel-information.jpg" style="background-image:url(../images/Plan-your-trip/Galapagos-travel-information/galapagos-travel-information.jpg); position:center; height:100%; width:100%;" />
                </div>
                <div class="carousel-caption" style="padding-bottom:45px; top:25%" role="option">
                    <h1 class="font-x2 font-brush font-carousel">
                        <strong>Galapagos Travel Information</strong>
                    </h1>
                    <p class="font-x2 " style="font-size:18px; font-family:'BentonSans',sans-serif">

                    </p>
                    <p>
                        <a id="help_me_plan" class="h5button bg-in  btn-carousel" data-toggle="modal" data-target="#ModalInquire" href="../form_taylorMade/form_taylorMade" style="text-decoration:none;padding:8px 25px;font-size:18px; font-family:'Noto Sans',sans-serif; z-index:50000">
                            Help me Plan
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--================================SUB MENU=========================-->
    <nav class="navbar  navbarsubmenu page-nav-home" data-toggle="sticky-onscroll" id="navpagina" style="border: 1px solid rgba(0,0,0,.1);">
        <div class="limit">
            <nav class="page-nav-anchors" style="text-transform:none; " id="sub-menu-cruises">
                <ul style="margin-left:30%">
                    <li>
                        <a href="#guide"><span>Guide</span> </a>
                    </li>
                    <li>
                        <a href="#resources"><span>Resources</span></a>
                    </li>
                    <li>
                        <a style="width: 300px" href="#nature"><span>Nature</span></a>
                    </li>
                </ul>
            </nav>
            <div id="TopCatamarans">
            </div>
        </div>
    </nav>
    <nav class="page-nav page-nav-home" data-toggle="sticky-onscroll" id="navmovil">
        <div class="limit" style="width:100%">
            <nav class="page-nav-anchors">
                <ul style="width:100%">
                    <li class="activities">
                        <a class="" href="#guide">  <span>Guide</span></a>
                    </li>
                    <li class="prepare" style="margin-left: 20px;">
                        <a href="#resources"><span>Resources</span></a>
                    </li>
                    <li class="itineraries" style="        margin-left: 10px;
">
                        <a href="#nature"> <span>Nature</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
    <div class="container">
        <div class="row formato-parrafo text-justify textoinfo parrafo" style=" font-family: Arial; padding: .5em 1em; color: black !important; background: white; ">

            <ol class="breadcrumb" style="" itemscope itemtype="http://schema.org/BreadcrumbList">
                <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" style="color:#0077ba" href="../../">
                        <span itemprop="name">Home</span>
                    </a>
                    <meta itemprop="position" content="1" />
                </li>
             

                <li class="breadcrumb-item active" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <span itemprop="name">
                        Galapagos Travel Information

                    </span>
                    <meta itemprop="position" content="4" />
                </li>
            </ol>


            <h2 id="guide" style="color:black; text-align:left"> <b>About the Galapagos</b></h2>
            <p>
                The Galapagos lies at the western-most corner of Western thought, a remote
                huddle of volcanic islets once deemed uninhabitable – <b>
                    one of human history´s
                    most enigmatic corners
                </b> and one of <b>our planet´s last colonized territories</b>,
                considered a <b>wasteland in the eyes of pirates</b> and poets alike. Yet, it has
                since unveiled to those who have craved to delve into its distant and obscure
                heart and soul, the secrets of life on Earth, the magic of evolution, the
                magnificence of survival, the parade of <b>
                    underwater diversity, the spectacle
                    of volcanic geology
                </b> and Mankind’s unfaltering hope of conservation. <b>
                    Galapagos
                    is one of the most ecologically relevant destinations in the world:
                </b> a true
                crucible of science and wonder.
            </p>
            <h2 id="resources" style="color:black; text-align:left"> <b>Travel Resources</b></h2>
            <p>
                On this page, you will find first-hand useful information that will help you
                plan your trip to Galapagos. Different people enjoy different things in Galapagos
                Islands as the destiny has much more to offer than can be seen and done during a
                single visit. That´s why we recommend to better contact our travel experts help
                you with your visit. However, you may find a lot of useful information to inspire
                yourself before to plan your travel to Galapagos.
            </p>
            <p>
                Download the most complete Galapagos Travel Guide Online.  <a class="btn h5button BottonAndan" style="margin-left:10px;" data-toggle="modal" data-target="#ModalGuiaGalapagosTravel" href="../../form_taylorMade/galapagos_travel_guide" id="help_me_plan">Get my guide</a>
            </p>
        </div>
        <div id="image_team" class="row f-15 text-justify" style="margin-top:-20px;padding: 0em 1em; color: black !important; background:white;margin-left:-15px;">
            <div class="col-md-6 col-sm-12 col-xs-12" style="padding-left:15px;margin-top:10px;padding-right:0">
                <a href="/plan-your-trip/galapagos-travel-ideas">
                    <img src="~/images/Plan-your-trip/Galapagos-travel-information/galapagos-wht-to-do-information.jpg" alt="galapagos-wht-to-do-information.jpg" class="img-responsive" style="margin:0;width:98%" />
                    <div class="caption ">
                        <h4 class="LetrasconFondo">
                            <b>WHAT TO DO IN GALAPAGOS</b>
                        </h4>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12" style="padding-left:15px;margin-top:10px;padding-right:0">
                <a href="/plan-your-trip/galapagos-travel-map">
                    <img src="~/images/Plan-your-trip/Galapagos-travel-information/galapagos-map-clean.jpg" alt="galapagos-map-clean.jpg" class="img-responsive" style="margin:0;width:98%" />
                    <div class="caption ">
                        <h4 class="LetrasconFondo">
                            <b>INTERACTIVE MAP AND VISITOR SITES</b>
                        </h4>
                    </div>
                </a>  </div>
        </div>
        <div id="image_team" class="row formato-parrafo text-justify" style="padding: 0em 1em; color: black !important; background:white;margin-left:-15px;">
            <div class="col-md-6 col-sm-12 col-xs-12" style="padding-left:15px;margin-top:10px;padding-right:0">
                <a href="/blog/best-way-to-travel-galapagos">
                    <img src="~/images/Plan-your-trip/Galapagos-travel-information/how-to-travel-in-galapagos.jpg" alt="how-to-travel-in-galapagos.jpg" class="img-responsive" style="margin:0;width:98%" />
                    <div class="caption ">
                        <h4 class="LetrasconFondo">
                            <b>HOW TO TRAVEL IN GALAPAGOS</b>
                        </h4>
                    </div>
                </a> </div>
            <div class="col-md-6 col-sm-12 col-xs-12" style="padding-left:15px;margin-top:10px;padding-right:0">
                <a href="/blog/galapagos-cruise-categories">
                    <img src="~/images/Plan-your-trip/Galapagos-travel-information/galapagos-different-cruise-categories.jpg" alt="galapagos-different-cruise-categories.jpg" class="img-responsive" style="margin:0;width:98%" />
                    <div class="caption ">
                        <h4 class="LetrasconFondo">
                            <b>CRUISE CATEGORIES</b>
                        </h4>
                    </div>
                </a>  </div>
        </div>
        <div id="image_team" class="row formato-parrafo text-justify" style="padding: 0em 1em; color: black !important; background:white;margin-left:-15px;">
            <div class="col-md-6 col-sm-12 col-xs-12" style="padding-left:15px;margin-top:10px;padding-right:0">
                <a href="/plan-your-trip/galapagos-travel-information/costs">
                    <img src="~/images/Plan-your-trip/Galapagos-travel-information/galapagos-costs.jpg" alt="/galapagos-costs.jpg" class="img-responsive" style="margin:0;width:98%" />
                    <div class="caption ">
                        <h4 class="LetrasconFondo">
                            <b>COSTS OF TRAVEL</b>
                        </h4>
                    </div>
                </a> </div>
            <div class="col-md-6 col-sm-12 col-xs-12" style="padding-left:15px;margin-top:10px;padding-right:0">
                <a href="/plan-your-trip/galapagos-nature/wildlife-calendar">
                    <img src="~/images/Plan-your-trip/Galapagos-travel-information/galapagos-wildlife-information.jpg" alt="galapagos-wildlife-information.jpg" class="img-responsive" style="margin:0;width:98%" />
                    <div class="caption ">
                        <h4 class="LetrasconFondo">
                            <b>GALAPAGOS WILDLIFE</b>
                        </h4>
                    </div>
                </a> </div>
        </div>
        <div class="row formato-parrafo text-justify textoinfo parrafo" id="nature" style="font-family:Arial;padding: .5em 1em; color: black !important; background:white;">
        @*<a style="text-decoration:none" href="#"><h3 style="color:#398AC9; text-align:left"> More Travel Recommendations >></h3></a>*@
            <h2 style="color:black; text-align:left; margin-top:3%"> <b>Galapagos Travel Recommendations</b></h2>
            <p>
                The previous resources are made so you can get an idea about how traveling to the Galapagos is like.
                The following Galapagos travel recommendations include everything you should know to prepare your
                trip to the Galapagos archipelago: when to visit, weather, insurance requirements and National Park
                Rules.
            </p>
            <p>

                <a class="btn h5button BottonAndan"    href="/plan-your-trip/galapagos-travel-recommendations" id="help_me_plan">Recommendations</a>

 
            </p>
        </div>
    </div>
    <div class="row" style="background: #eff0f3; margin-top:5px">
        <div class="col-md-6">
            <img id="image_experience_text" class="img-responsive" alt="galapagos-nature-information.jpg" src="~/images/Plan-your-trip/Galapagos-travel-information/galapagos-nature-information.jpg" />
        </div>
        <div class="col-md-6">
            <div class="row formato-parrafo text-justify textoinfo" style="font-family:Arial;padding: 1.2em 1em; color: black !important;" id="experience_text">
                <p style="color:black; font-size:25px"><b>Galapagos Nature</b></p>
                <p style="font-size:17px">
                    As the islands have turned into a flagship of conservation, so has the opportunity to visit them
                    and to be a witness of this one-and-only master-piece of nature in its purest and most pristine state.
                </p>
                <br />
                <table style="margin-left:-13px">
                    <tr>
                        <td style="border:none"> 
                            <a class="btn h5button BottonAndan" style="margin-left:10px;" href="/plan-your-trip/galapagos-nature" id="help_me_plan">View More</a>

                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <br />
    <div id="cuadro_final">
        <div class="container" style="border:2px solid #2B76AC">
            <div class="row formato-parrafo textoinfo parrafo" style="font-family:Arial;padding: .5em 1em; color: black !important; background:white;">
                <center>
                    <p>
                        Plan your trip together with our team of experts and write your own travel story; we´ll make sure to awaken your inner adventurer and reconnect you with this wonderful nature.
                    </p>
                </center>
            </div>
        </div>
        <center>
            <a class="btn h5button BottonAndan" data-toggle="modal" data-target="#ModalInquire" href="../form_taylorMade/form_taylorMade" id="help_me_plan10">Hepl me plan</a>
        </center>
    </div>
    <br />
</div>