@{
    ViewData["Title"] = "cabinaModal";
    Layout = null;
}
<link rel="stylesheet" type="text/css" href="~/css/app.css" />
<link rel="stylesheet" type="text/css" href="~/css/styleAndando.css" />
<link rel="stylesheet" type="text/css" href="~/css/styleAndando03.css" />
<div class="modal-header" style="height:60px">
    <img src="~/images/logos/andando-tours-png-azul-horizontal.png" style="width:100px; height:50px; margin-top:-10px; margin-left:0px" />
    <button type="button" class="close-form pull-right" data-dismiss="modal" style="margin-top:-40px">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="" style="height:100%">
    <div class="modal-body font-modal" style="height:60%;margin:0 12%">
        <div class="row">
            <div class="col-md-5" style="margin-right:10px; margin-left:-10px">
                <div class="row f-15 text-justify textoinfo parrafo" style="font-family:Arial; color: #656b6f !important; background:white;">
                    <p style="color:black; font-size:28px">
                        S/S Mary Anne: Western Itinerary
                    </p>
                    <div id="myCarousel" class="carousel slide active" aria-hidden="true" data-ride="carousel" data-interval="0">
                        <div class="carousel-inner" style="max-width:100%; height:580px" role="listbox">
                            <div class="item active imgen-carousel" style="max-width:100%; background-image:url('../../wwwroot/images/About/Infinity exterior.jpg')">
                                <img src="~/images/About/Infinity exterior.jpg" alt="sailing Galapagos" class="img-fluid" style="height:50%; width:100%;" />
                                <br />
                                <p style="font-family:'Berlin Sans FB'; text-align:left; font-size:25px ;color:#398AC9">Day 1 - Arrival to the islands</p>
                                <p>
                                    20020 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20
                                    20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20
                                    20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20
                                    20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20
                                    20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20
                                    20 20 20 20 20 20 20 20 20 20 20 20 20.
                                </p>
                            </div>
                            <div class="item imgen-carousel" style=" max-width:100%; background-image:url(../../wwwroot/images/About/Family-cruise.jpg)">
                                <img src="~/images/About/Family-cruise.jpg" alt="sailing Galapagos" class="img-responsive" style="height:50%; width:100%;" />
                                <br />
                                <p style="font-family:'Berlin Sans FB'; text-align:left; font-size:25px ;color:#398AC9">Day 2 - The islands</p>
                                <p>
                                    20020 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20
                                    20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20
                                    20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20
                                    20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20
                                    20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20
                                    20 20 20 20 20 20 20 20 20 20 20 20 20.
                                </p>
                            </div>
                            <div class="item imgen-carousel" style="max-width:100%;background-image:url(../../wwwroot/images/About/galapagos-fund-wildaid-passion.jpg)">
                                <img src="~/images/About/galapagos-fund-wildaid-passion.jpg" alt="sailing Galapagos" class="img-responsive" style="height:50%; width:100%;" />
                                <br />
                                <p style="font-family:'Berlin Sans FB'; text-align:left; font-size:25px ;color:#398AC9">Day 3 - Arrival to the airport</p>
                                <p>
                                    20020 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20
                                    20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20
                                    20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20
                                    20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20
                                    20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20
                                    20 20 20 20 20 20 20 20 20 20 20 20 20.
                                </p>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#myCarousel" style="background:none; margin-top:-35%" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" style="background:none;margin-top:-35%" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-7" style="margin-left:10px; margin-right:-10px">
                <div class="row f-15 text-justify textoinfo parrafo" style="font-family:Arial; color: #656b6f !important; background:white;">
                    <table>
                        <tr>
                            <td style="border:none">
                                <p style="color:black; font-size:28px">
                                    Available departures
                                </p>
                            </td>
                            <td style="border:none">
                                <div class="dropdown" ; style="margin-top:-20px; margin-left:220px; box-shadow:none">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown" style="font-family:Arial; font-size:18px">Select your travel dates <span style="margin-left:17px" class="caret"></span></button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" ; style="width:100%; font-size:18px">
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Enero</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Febrero</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Marzo</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Abril</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Mayo</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Junio</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Julio</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Agosto</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Septiembre</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Octubre</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Noviembre</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Diciembre</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="container" style="overflow-y:scroll; width:auto; height:490px;margin-bottom:15px; border-bottom:1px solid; border-bottom-color:black; border-bottom-width:0,50px,0,50px">
                        <table style="margin-bottom:15px">
                            <tr>
                                <td style="border-right:none; border-top:none; border-left:none; width:150px;  line-height:0.6;margin-bottom:-15px">
                                    <p style="color:black;font-size:17px">19 May 2018<p>
                                    <p style="font-size:13px">5 Days<p>
                                </td>
                                <td style="border-right:none; border-top:none; border-left:none; width:150px;  line-height:0.6;margin-bottom:-15px">
                                    <p style="color:black;font-size:17px">S/S Mary Anne<p>
                                    <p style="font-size:13px; color:#398AC9">Western Itinerary<p>
                                </td>
                                <td style="border-right:none; border-top:none; border-left:none; width:150px;  line-height:0.6;margin-bottom:-15px">
                                    <p style="color:black;font-size:17px">10<p>
                                    <p style="font-size:13px">Spaces available<p>
                                </td>
                                <td style="border-right:none; border-top:none; border-left:none; width:150px; line-height:0.6;margin-bottom:-15px">
                                    <p style="color:black;font-size:17px">$1,150.00<p>
                                    <p style="font-size:13px;">Price*<p>
                                </td>
                                <td style="border-right:none; margin-left:15px;border-top:none; border-left:none; width:200px; text-align:justify; line-height:0.2;margin-bottom:-15px">
                                    <p style="margin-top:-8px"><a class="btn h5button" href="../form_taylorMade/cabinaModal" data-toggle="modal" data-target="#myModal1" style="font-family:SegoeUI, Segoe UI" id="help_me_plan5"><b>Request Booking</b></a><p>
                                    <p style="font-size:13px; color:#F29F67; margin-top:-6px">More Information<p>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-right:none; border-top:none; border-left:none; width:150px;  line-height:0.6;margin-bottom:-15px">
                                    <p style="color:black;font-size:17px">19 May 2018<p>
                                    <p style="font-size:13px">5 Days<p>
                                </td>
                                <td style="border-right:none; border-top:none; border-left:none; width:150px;  line-height:0.6;margin-bottom:-15px">
                                    <p style="color:black;font-size:17px">S/S Mary Anne<p>
                                    <p style="font-size:13px; color:#398AC9">Western Itinerary<p>
                                </td>
                                <td style="border-right:none; border-top:none; border-left:none; width:150px;  line-height:0.6;margin-bottom:-15px">
                                    <p style="color:black;font-size:17px">10<p>
                                    <p style="font-size:13px">Spaces available<p>
                                </td>
                                <td style="border-right:none; border-top:none; border-left:none; width:150px; line-height:0.6;margin-bottom:-15px">
                                    <p style="color:black;font-size:17px">$1,150.00<p>
                                    <p style="font-size:13px;">Price*<p>
                                </td>
                                <td style="border-right:none; margin-left:15px;border-top:none; border-left:none; width:200px; text-align:justify; line-height:0.2;margin-bottom:-15px">
                                    <p style="margin-top:-8px"><a class="btn h5button" href="../form_taylorMade/availabilityModal" data-toggle="modal" data-target="#myModal" style="font-family:SegoeUI, Segoe UI" id="help_me_plan5"><b>Request Booking</b></a><p>
                                    <p style="font-size:13px; color:#F29F67; margin-top:-6px">More Information<p>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-right:none; border-top:none; border-left:none; width:150px;  line-height:0.6;margin-bottom:-15px">
                                    <p style="color:black;font-size:17px">19 May 2018<p>
                                    <p style="font-size:13px">5 Days<p>
                                </td>
                                <td style="border-right:none; border-top:none; border-left:none; width:150px;  line-height:0.6;margin-bottom:-15px">
                                    <p style="color:black;font-size:17px">S/S Mary Anne<p>
                                    <p style="font-size:13px; color:#398AC9">Western Itinerary<p>
                                </td>
                                <td style="border-right:none; border-top:none; border-left:none; width:150px;  line-height:0.6;margin-bottom:-15px">
                                    <p style="color:black;font-size:17px">10<p>
                                    <p style="font-size:13px">Spaces available<p>
                                </td>
                                <td style="border-right:none; border-top:none; border-left:none; width:150px; line-height:0.6;margin-bottom:-15px">
                                    <p style="color:black;font-size:17px">$1,150.00<p>
                                    <p style="font-size:13px;">Price*<p>
                                </td>
                                <td style="border-right:none; margin-left:15px;border-top:none; border-left:none; width:200px; text-align:justify; line-height:0.2;margin-bottom:-15px">
                                    <p style="margin-top:-8px"><a class="btn h5button" href="../form_taylorMade/availabilityModal" data-toggle="modal" data-target="#myModal" style="font-family:SegoeUI, Segoe UI" id="help_me_plan5"><b>Request Booking</b></a><p>
                                    <p style="font-size:13px; color:#F29F67; margin-top:-6px">More Information<p>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-right:none; border-top:none; border-left:none; width:150px;  line-height:0.6;margin-bottom:-15px">
                                    <p style="color:black;font-size:17px">19 May 2018<p>
                                    <p style="font-size:13px">5 Days<p>
                                </td>
                                <td style="border-right:none; border-top:none; border-left:none; width:150px;  line-height:0.6;margin-bottom:-15px">
                                    <p style="color:black;font-size:17px">S/S Mary Anne<p>
                                    <p style="font-size:13px; color:#398AC9">Western Itinerary<p>
                                </td>
                                <td style="border-right:none; border-top:none; border-left:none; width:150px;  line-height:0.6;margin-bottom:-15px">
                                    <p style="color:black;font-size:17px">10<p>
                                    <p style="font-size:13px">Spaces available<p>
                                </td>
                                <td style="border-right:none; border-top:none; border-left:none; width:150px; line-height:0.6;margin-bottom:-15px">
                                    <p style="color:black;font-size:17px">$1,150.00<p>
                                    <p style="font-size:13px;">Price*<p>
                                </td>
                                <td style="border-right:none; margin-left:15px;border-top:none; border-left:none; width:200px; text-align:justify; line-height:0.2;margin-bottom:-15px">
                                    <p style="margin-top:-8px"><a class="btn h5button" href="../form_taylorMade/availabilityModal" data-toggle="modal" data-target="#myModal" style="font-family:SegoeUI, Segoe UI" id="help_me_plan5"><b>Request Booking</b></a><p>
                                    <p style="font-size:13px; color:#F29F67; margin-top:-6px">More Information<p>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-right:none; border-top:none; border-left:none; width:150px;  line-height:0.6;margin-bottom:-15px">
                                    <p style="color:black;font-size:17px">19 May 2018<p>
                                    <p style="font-size:13px">5 Days<p>
                                </td>
                                <td style="border-right:none; border-top:none; border-left:none; width:150px;  line-height:0.6;margin-bottom:-15px">
                                    <p style="color:black;font-size:17px">S/S Mary Anne<p>
                                    <p style="font-size:13px; color:#398AC9">Western Itinerary<p>
                                </td>
                                <td style="border-right:none; border-top:none; border-left:none; width:150px;  line-height:0.6;margin-bottom:-15px">
                                    <p style="color:black;font-size:17px">10<p>
                                    <p style="font-size:13px">Spaces available<p>
                                </td>
                                <td style="border-right:none; border-top:none; border-left:none; width:150px; line-height:0.6;margin-bottom:-15px">
                                    <p style="color:black;font-size:17px">$1,150.00<p>
                                    <p style="font-size:13px;">Price*<p>
                                </td>
                                <td style="border-right:none; margin-left:15px;border-top:none; border-left:none; width:200px; text-align:justify; line-height:0.2;margin-bottom:-15px">
                                    <p style="margin-top:-8px"><a class="btn h5button" href="../form_taylorMade/availabilityModal" data-toggle="modal" data-target="#myModal" style="font-family:SegoeUI, Segoe UI" id="help_me_plan5"><b>Request Booking</b></a><p>
                                    <p style="font-size:13px; color:#F29F67; margin-top:-6px">More Information<p>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-right:none; border-top:none; border-left:none; width:150px;  line-height:0.6;margin-bottom:-15px">
                                    <p style="color:black;font-size:17px">19 May 2018<p>
                                    <p style="font-size:13px">5 Days<p>
                                </td>
                                <td style="border-right:none; border-top:none; border-left:none; width:150px;  line-height:0.6;margin-bottom:-15px">
                                    <p style="color:black;font-size:17px">S/S Mary Anne<p>
                                    <p style="font-size:13px; color:#398AC9">Western Itinerary<p>
                                </td>
                                <td style="border-right:none; border-top:none; border-left:none; width:150px;  line-height:0.6;margin-bottom:-15px">
                                    <p style="color:black;font-size:17px">10<p>
                                    <p style="font-size:13px">Spaces available<p>
                                </td>
                                <td style="border-right:none; border-top:none; border-left:none; width:150px; line-height:0.6;margin-bottom:-15px">
                                    <p style="color:black;font-size:17px">$1,150.00<p>
                                    <p style="font-size:13px;">Price*<p>
                                </td>
                                <td style="border-right:none; margin-left:15px;border-top:none; border-left:none; width:200px; text-align:justify; line-height:0.2;margin-bottom:-15px">
                                    <p style="margin-top:-8px"><a class="btn h5button" href="../form_taylorMade/availabilityModal" data-toggle="modal" data-target="#myModal" style="font-family:SegoeUI, Segoe UI" id="help_me_plan5"><b>Request Booking</b></a><p>
                                    <p style="font-size:13px; color:#F29F67; margin-top:-6px">More Information<p>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-right:none; border-top:none; border-left:none; width:150px;  line-height:0.6;margin-bottom:-15px">
                                    <p style="color:black;font-size:17px">19 May 2018<p>
                                    <p style="font-size:13px">5 Days<p>
                                </td>
                                <td style="border-right:none; border-top:none; border-left:none; width:150px;  line-height:0.6;margin-bottom:-15px">
                                    <p style="color:black;font-size:17px">S/S Mary Anne<p>
                                    <p style="font-size:13px; color:#398AC9">Western Itinerary<p>
                                </td>
                                <td style="border-right:none; border-top:none; border-left:none; width:150px;  line-height:0.6;margin-bottom:-15px">
                                    <p style="color:black;font-size:17px">10<p>
                                    <p style="font-size:13px">Spaces available<p>
                                </td>
                                <td style="border-right:none; border-top:none; border-left:none; width:150px; line-height:0.6;margin-bottom:-15px">
                                    <p style="color:black;font-size:17px">$1,150.00<p>
                                    <p style="font-size:13px;">Price*<p>
                                </td>
                                <td style="border-right:none; margin-left:15px;border-top:none; border-left:none; width:200px; text-align:justify; line-height:0.2;margin-bottom:-15px">
                                    <p style="margin-top:-8px"><a class="btn h5button" href="../form_taylorMade/availabilityModal" data-toggle="modal" data-target="#myModal" style="font-family:SegoeUI, Segoe UI" id="help_me_plan5"><b>Request Booking</b></a><p>
                                    <p style="font-size:13px; color:#F29F67; margin-top:-6px">More Information<p>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-right:none; border-top:none; border-left:none; width:150px;  line-height:0.6;margin-bottom:-15px">
                                    <p style="color:black;font-size:17px">19 May 2018<p>
                                    <p style="font-size:13px">5 Days<p>
                                </td>
                                <td style="border-right:none; border-top:none; border-left:none; width:150px;  line-height:0.6;margin-bottom:-15px">
                                    <p style="color:black;font-size:17px">S/S Mary Anne<p>
                                    <p style="font-size:13px; color:#398AC9">Western Itinerary<p>
                                </td>
                                <td style="border-right:none; border-top:none; border-left:none; width:150px;  line-height:0.6;margin-bottom:-15px">
                                    <p style="color:black;font-size:17px">10<p>
                                    <p style="font-size:13px">Spaces available<p>
                                </td>
                                <td style="border-right:none; border-top:none; border-left:none; width:150px; line-height:0.6;margin-bottom:-15px">
                                    <p style="color:black;font-size:17px">$1,150.00<p>
                                    <p style="font-size:13px;">Price*<p>
                                </td>
                                <td style="border-right:none; margin-left:15px;border-top:none; border-left:none; width:200px; text-align:justify; line-height:0.2;margin-bottom:-15px">
                                    <p style="margin-top:-8px"><a class="btn h5button" href="../form_taylorMade/availabilityModal" data-toggle="modal" data-target="#myModal" style="font-family:SegoeUI, Segoe UI" id="help_me_plan5"><b>Request Booking</b></a><p>
                                    <p style="font-size:13px; color:#F29F67; margin-top:-6px">More Information<p>
                                </td>
                            </tr>
                            <tr>
                                <td style="border-right:none; border-top:none; border-left:none; width:150px;  line-height:0.6;margin-bottom:-15px">
                                    <p style="color:black;font-size:17px">19 May 2018<p>
                                    <p style="font-size:13px">5 Days<p>
                                </td>
                                <td style="border-right:none; border-top:none; border-left:none; width:150px;  line-height:0.6;margin-bottom:-15px">
                                    <p style="color:black;font-size:17px">S/S Mary Anne<p>
                                    <p style="font-size:13px; color:#398AC9">Western Itinerary<p>
                                </td>
                                <td style="border-right:none; border-top:none; border-left:none; width:150px;  line-height:0.6;margin-bottom:-15px">
                                    <p style="color:black;font-size:17px">10<p>
                                    <p style="font-size:13px">Spaces available<p>
                                </td>
                                <td style="border-right:none; border-top:none; border-left:none; width:150px; line-height:0.6;margin-bottom:-15px">
                                    <p style="color:black;font-size:17px">$1,150.00<p>
                                    <p style="font-size:13px;">Price*<p>
                                </td>
                                <td style="border-right:none; margin-left:15px;border-top:none; border-left:none; width:200px; text-align:justify; line-height:0.2;margin-bottom:-15px">
                                    <p style="margin-top:-8px"><a class="btn h5button" href="../form_taylorMade/availabilityModal" data-toggle="modal" data-target="#myModal" style="font-family:SegoeUI, Segoe UI" id="help_me_plan5"><b>Request Booking</b></a><p>
                                    <p style="font-size:13px; color:#F29F67; margin-top:-6px">More Information<p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <br />
                    <table>
                        <tr>
                            <td style="border:none">
                                <p style="font-size:17px">
                                    This boat has <a href="#" style="color:#398AC9; text-decoration:none; font-family:Arial">available promotions. </a>
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="border:none">
        <section class="section--footer" style="padding:0;background-color:#E5E5E5">
            <div id="grid-gale-social">
                <table style="width:100%">
                    <tr>
                        <td style="border:none; text-align:left;font-size:11px">
                            Andando Tours is committed to ensuring your privacy. We dont sell the information provded.
                        </td>
                        <td style="border:none; text-align:right;padding-right:45px; font-size:11px">
                            |TERMS & CONDITIONS |  PRIVACY POLICY  |
                        </td>
                    </tr>
                </table>
            </div>
        </section>
        <section class="section--footer" style="padding:0">
            <div id="grid-gale-social-mob">
                <div style="border:none; text-align:left;font-size:11px">
                    Andando Tours is committed to ensuring your privacy. We dont sell the information provded.
                </div>
                <div style="border:none; text-align:right; font-size:11px">
                    |TERMS & CONDITIONS |  PRIVACY POLICY  |
                </div>
            </div>
        </section>
        <section class="section__logos" style="background-color:white">
            <div class="logos-wrapper">
                <div>
                    <img src="~/images/logos/LATA-2012.png" class="img-responsive " style="max-height:100px;" alt="LATA-2012" />
                </div>
                <div>
                    <img src="~/images/logos/logo-ecuador.png" class="img-responsive " style="max-height:100px;" alt="LATA-2012" />
                </div>
                <div>
                    <img src="~/images/logos/Galapagos-Islands-Travel-Angermeyer-Cruises.png" class="img-responsive " style="max-height:100px;" alt="LATA-2012" />
                </div>
                <div>
                    <img src="~/images/logos/americas.png" class="img-responsive " style="max-height:100px;" alt="LATA-2012" />
                </div>
                <div>
                    <img src="~/images/logos/central-de-receptivos.png" class="img-responsive " style="max-height:100px;" alt="LATA-2012" />
                </div>
                <div>
                    <img src="~/images/logos/full_color_white_background_copy.jpg" class="img-responsive " style="max-height:100px;" alt="LATA-2012" />
                </div>
                <div>
                    <img src="~/images/logos/logo-qa.png" class="img-responsive " style="max-height:100px;" alt="LATA-2012" />
                </div>
            </div>
        </section>
    </div>
</div>