@{
    ViewData["Title"] = "sustainable_travelModal";
    Layout = null;
}
<link rel="stylesheet" type="text/css" href="~/css/app.css" />
<link rel="stylesheet" type="text/css" href="~/css/styleAndando.css" />
<div class="modal-header" style="height:60px">
    <img src="~/images/logos/andando-tours-png-azul-horizontal.png" style="width:100px; height:50px; margin-top:-10px; margin-left:0px"/>
    <button type="button" class="close-form pull-right" data-dismiss="modal" style="margin-top:-40px">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<br />
<div class="modal-body" style="overflow-y:scroll; height:80%; margin-right:5px">
    <img src="~/images/About/galapagos-fund-wildaid-passion.jpg" class="img-responsive" />
    <div class="row formato-parrafo text-justify textoinfo parrafo" style="font-family:Arial;padding: .5em 1em; color: black !important; background:white;">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <h3 style="color:#5299D0; text-align:left">
                <b>Proyecto 1</b>
            </h3>
            <p>
                <b>Información del proyecto</b>
            </p>
            <p>
                *Somos dueños y operadores de barcos, habiendo tenido 12 barcos en las islas, además
                de tener acuerdos inigualables con otros operadores. Contacta con nosotros y tendrás un
            </p>
        </div>
    </div>
    <div class="row formato-parrafo text-justify textoinfo parrafo" style="font-family:Arial;padding: .5em 1em; color: black !important; background:white;">
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
            <img src="~/images/About/Infinity exterior.jpg" style="width:100%; height:300px" />
        </div>
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12"  >
            <img src="~/images/About/Infinity exterior.jpg" style="width:100%; height:300px" id="imagen_sustainable"/>
        </div>
    </div>
    <div class="row formato-parrafo text-justify textoinfo parrafo" style="font-family:Arial;padding: .5em 1em; color: black !important; background:white;">
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
            <img src="~/images/About/Infinity exterior.jpg" style="width:100%; height:300px" />
        </div>
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
            <img src="~/images/About/Infinity exterior.jpg" style="width:100%; height:300px" id="imagen_sustainable"/>
        </div>
    </div>
    <div class="row formato-parrafo text-justify textoinfo parrafo" style="font-family:Arial;padding: .5em 1em; color: black !important; background:white;">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <p>
                <b>Activities</b>
            </p>
            <p>
                *Somos dueños y operadores de barcos, habiendo tenido 12 barcos en las islas, además
                de tener acuerdos inigualables con otros operadores. Contacta con nosotros y tendrás un
            </p>
        </div>
    </div>
</div>