@{ ViewData["Title"] = "Form_Package";
    Layout = null; }
<script src="~/js/Forms.js"></script>
<div class="modal fade" id="formEcModalCabecera" style="padding-right:0" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form>
                <div style="margin:10px">
                    <div class="modal-body  ">
                        <div class="row">
                            <input type="text" style="display:none" id="idVisit" value="@ViewData["IP"]" />
                            <p style="display:none" id="statusCode"></p>
                            <p style="display:none" id="statusMessage"></p>
                            <p id="ipAddress" style="display:none"></p>
                            <p style="display:none" id="countryCode"></p>
                            <p style="display:none" id="countryName"></p>
                            <p style="display:none" id="regionName"></p>
                            <p style="display:none" id="cityName"></p>
                            <p style="display:none" id="zipCode"></p>
                            <p style="display:none" id="latitude"></p>
                            <p style="display:none" id="longitude"></p>
                            <script type="text/javascript">

                    var HttpClient = function () {
                        this.get = function (aUrl, aCallback) {
                            var anHttpRequest = new XMLHttpRequest();
                            anHttpRequest.onreadystatechange = function () {
                                if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
                                    aCallback(anHttpRequest.responseText);
                            }

                            anHttpRequest.open("GET", aUrl, true);
                            anHttpRequest.send(null);
                        }
                    }

                    var IPENcontrada = '@ViewData["IP"]';



                        var theurl = 'https://api.ipinfodb.com/v3/ip-city/?key=37856f4bf8ee174979271811369e39326a7de8bb08f8ca9898ff2a81e364e271&ip=' + IPENcontrada + '&format=json';



                    var client = new HttpClient();
                    client.get(theurl, function (response) {
                        var response1 = JSON.parse(response);
                        //alert(response);
                        document.getElementById("statusCode").innerHTML = response1.statusCode;
                        document.getElementById("statusMessage").innerHTML = response1.statusMessage;
                        //document.getElementById("ipAddress").innerHTML = response1.ipAddress;
                        document.getElementById("ipAddress").innerHTML = IPENcontrada;
                        document.getElementById("countryCode").innerHTML = response1.countryCode;
                        document.getElementById("countryName").innerHTML = response1.countryName;
                        document.getElementById("regionName").innerHTML = response1.regionName;
                        document.getElementById("cityName").innerHTML = response1.cityName;
                        document.getElementById("zipCode").innerHTML = response1.zipCode;
                        document.getElementById("latitude").innerHTML = response1.latitude;
                        document.getElementById("longitude").innerHTML = response1.longitude;
                    });
                            </script>


                            <div class=" col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-10 col-xs-10" style="padding-left: 0;">
                                    <h5 class="formato-titulo modal-title" style="text-align:left;font-size:20px; color:#0077ba;top:6%"><b>{{titulo}}</b></h5>
                                </div>
                                <div class="col-md-2 col-xs-2">
                                    <a class="close icon-times-circle" id="close_modal1" data-dismiss="modal" style="  color:#0077ba;font-size:30px; margin-top:-5%" href="#"></a>
                                </div>
                                
                               


                            </div>

                            <div class=" col-md-12 col-sm-12 col-xs-12">
                                <br />
                                <div style="background:#c3bfbf;height:1.5px;width:100%"></div>
                                <br />
                            </div>

                            <div style="font-size:15px" class=" col-md-6 col-sm-12 col-xs-12">

                                <p> <b>E-mail adress <span style="color:red;font-weight:900"> *</span></b></p>


                                <p>


                                    <input style="font-family:Arial" class="form-control" type="email"
                                           placeholder="Email@email.com" id="email" name="email" />



                                </p>


                            </div>


                            <div style="font-size:15px" class=" col-md-6 col-sm-12 col-xs-12">
                                <p>
                                    <b>Name <span style="color:red;font-weight:900"> *</span></b>
                                </p>
                                <p>
                                    <input class="form-control" placeholder="Your Name" autocomplete="off" type="text" id="nombre" name="nombre" />
                                </p>
                                <input type="text" id="taylor" class="form-control" name="taylor" style="display:none" value="Taylor Made" />

                            </div>




                            <div style="font-size:15px" class=" col-md-6 col-sm-12 col-xs-12">

                                <p>  <b>Date    <span style="color:red;font-weight:900"> *</span></b></p>
                                @*<input class="form-control  " placeholder="Start date	" autocomplete="off" type="text" id="startEcItin" name="startEcItin" />*@

                                <input class="form-control  " placeholder="Start date" autocomplete="off" type="text" id="start" name="start" />
                                @*<span class="input-group-addon">To</span>
            <input class="form-control" placeholder="End date	" autocomplete="off" type="text" id="end" name="end" />*@

                            </div>




                            <div style="font-size:15px" class=" col-md-6 col-sm-12 col-xs-12">
                                <p>   <b>Number of travelers  <span style="color:red;font-weight:900"> *</span></b></p>

                                <p>
                                    <input class="form-control" placeholder="Number of travelers" min="0" type="number" id="travelers" name="travelers" />
                                    <input type="text" id="form" class="form-control" name="taylor" style="display:none" value="{{titulo}}" />
                                </p>
                            </div>









                            <div style="font-size:15px" class=" col-md-12 col-sm-12 col-xs-12">
                                <p>   <b>Category</b></p>
                                <p>


                                    <select class="form-control" id="Buget">
                                        <option>Select</option>
                                        <option v-for="itemSelect in selectCategoria">{{itemSelect.categoria}}</option>


                                    </select>

                                </p>
                            </div>


                        </div>




                        <br />


                        <center>
                            <input id="Button1" style="font-family: Arial;font-size: 16px;padding: 5px 15px" class="btn h5button  BottonAndan" type="button" onclick="EnviarFormulario();" value="Submit request" />

                        </center>
                    </div>
                </div>


                <style>
                    .datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
                        font-family: Arial !important;
                        font-size: 14px !important;
                    }

                    .datepicker table tr {
                        font-family: Arial !important;
                        font-size: 14px !important;
                    }
                </style>

                <script>

                    var date = new Date();
                    date.setDate(date.getDate());
                    $("#start").datepicker({
                        format: 'yyyy/mm/dd',
                        autoclose: true,
                        startDate: date,
                        todayHighlight: true,

                    }).on('changeDate', function (selected) {
                        var minDate2 = new Date(selected.date.valueOf());
                        $('#end').datepicker('setStartDate', minDate2);
                    });

                    $("#end").datepicker({
                        format: 'yyyy/mm/dd',

                        startDate: date,
                        todayHighlight: '#start',




                    }).on('changeDate', function (selected) {
                        var minDate = new Date(selected.date.valueOf());
                        $('#start').datepicker('setEndDate', minDate);

                    });

                    var userTarget = "";
                    var exit = false;
                    $('.input-daterange').datepicker({

                    });
                    $('.input-daterange').focusin(function (e) {
                        userTarget = e.target.name;
                    });
                    $('.input-daterange').on('changeDate', function (e) {
                        if (exit) return;
                        if (e.target.name != userTarget) {
                            exit = true;
                            $(e.target).datepicker('clearDates');
                        }
                        exit = false;
                    });




                    function ValidEmail() {
                        var EmailTxt = document.getElementById("email");
                        if ($(EmailTxt).val().length == 0) {
                            EmailTxt.className = "ValidTInyp input-iconoError";
                        } else {
                            EmailTxt.className = "form-control input-icono";
                        }
                    }


                    function ValidNombre() {
                        var NombreTxt = document.getElementById("nombre");
                        if ($(NombreTxt).val().length == 0) {
                            NombreTxt.className = "ValidTInyp input-iconoError";
                        } else {
                            NombreTxt.className = "form-control input-icono";
                        }
                    }


                    function ValidFechaStard() {
                        var TXtstart = document.getElementById("start");
                        if ($(TXtstart).val().length == 0) {
                            TXtstart.className = "ValidTInyp input-iconoError";
                        } else {
                            TXtstart.className = "form-control input-icono";
                        }
                    }


                    function ValidFechaEnd() {
                        var Txtend = document.getElementById("end");
                        if ($(Txtend).val().length == 0) {
                            Txtend.className = "ValidTInyp input-iconoError";
                        } else {
                            Txtend.className = "form-control input-icono";
                        }
                    }


                    function ValidFechaNumeroPax() {
                        var travelers = document.getElementById("travelers");
                        if ($(travelers).val().length == 0) {
                            travelers.className = "ValidTInyp input-iconoError";
                        } else {
                            travelers.className = "form-control input-icono";
                        }
                    }
                    function ValidarFormulario() {
                        ValidEmail();
                        ValidNombre();
                        ValidFechaStard();
                        //ValidFechaEnd();
                        ValidFechaNumeroPax();
                    }

                    function EnviarFormulario() {



                        var NombreTxt = document.getElementById("nombre");
                        var EmailTxt = document.getElementById("email");
                        var TXtstart = document.getElementById("start");
                        // var Txtend = document.getElementById("end");
                        var travelers = document.getElementById("travelers");


                        if (($(EmailTxt).val().length == 0) || ($(NombreTxt).val().length == 0) || ($(TXtstart).val().length == 0) || ($(travelers).val().length == 0)) {
                            ValidarFormulario();
                        } else {
                            AprobarFormulario();
                        }

                        //if ($(EmailTxt).val().length == 0) {
                        //EmailTxt.className = "ValidTInyp input-iconoError";
                        //}
                        //else if ($(NombreTxt).val().length == 0) {
                        //NombreTxt.className = "ValidTInyp input-iconoError";
                        //}
                        //else if ($(TXtstart).val().length == 0) {
                        //TXtstart.className = "ValidTInyp input-iconoError";
                        //}
                        //else if ($(Txtend).val().length == 0) {
                        //Txtend.className = "ValidTInyp input-iconoError";
                        //}
                        //else if ($(travelers).val().length == 0) {
                        //travelers.className = "ValidTInyp input-iconoError";
                        //}
                        //else
                        //{
                        //EmailTxt.className = "form-control input-icono";
                        //NombreTxt.className = "form-control input-icono";
                        //travelers.className = "form-control input-icono";
                        //TXtstart.className = "form-control input-icono";
                        //Txtend.className = "form-control input-icono";

                        /////  AprobarFormulario();
                        //}






                    }

                    //function pruebaemail(valor) {
                    //re = /^([\da-z_\.-]+)@@([\da-z\.-]+)\.([a-z\.]{2,6})$/
                    //if (!re.exec(valor)) {

                    //    //'email no valido

                    //    var ValiCo = document.getElementById("ValiEmail");


                    //    var ValiCo = 1;
                    //}
                    //else
                    //    //'email valido
                    //      var ValiCo = document.getElementById("ValiEmail");

                    //    var ValiCo = 0;



                    function AprobarFormulario() {
                        var Email = document.getElementById('email').value;
                        var Name = document.getElementById('nombre').value;
                        var FechaDesde = document.getElementById('start').value;

                        var NumeroPax = document.getElementById('travelers').value;
                        var Category = document.getElementById('Buget').value;

                        var taylor = document.getElementById('form').value;
                        //IP
                        var IP = document.getElementById('ipAddress').innerHTML;
                        var CountryCode = document.getElementById('countryCode').innerHTML;
                        var CityName = document.getElementById('cityName').innerHTML;

                        var TipoTours = "TpoTours";



                        window.location.href = "../thank_you_page/thank_you_page_Andando?Email=" + Email + "&Name=" + Name + "&FechaDesde=" + FechaDesde + "&NumeroPax=" + NumeroPax + "&Category=" + Category + "&taylor=" + taylor + "&IP=" + IP + "&CountryCode=" + CountryCode + "&CityName=" + CityName + "&TipoTours=" + TipoTours;
                    }

                </script>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var fecha = new Date();
        $("#start").datepicker({
            startDate: fecha
        });
    });
</script>
